<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    {% load static %}
    {% load global_objects %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="{% static "style.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{% block title %}{% endblock %} - django sözlük </title>
</head>

<body {% block bodyattr %}class="default" {% endblock %}>


<header class="page_header">

    <div class="small-device-alert">cihaz çok küçük!</div>

    <div class="top-bar">

        <!--- logo -->
        <div class="logo">
            <a href="{% url 'home' %}"></a>
        </div>

        <!--- seach box -->
        <div class="searchbox {% if not user.is_authenticated %}sb-guest{% endif %}">

            <form method="GET" action="/topic/">
                <div class="input-group">
                    <input name="q" type="text" placeholder="başlık, #entry ya da @yazar" class="searchbox-text"
                           id="header_search" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn searchbtn" type="submit" id="button-addon2"><i class="material-icons">
                            search
                        </i></button>
                    </div>
                </div>
            </form>
        </div>


        <!--- user navigation -->


        {% if request.user.is_authenticated %}
            <ul class="user-navigation">
                <li><a class="nav-quicklink" href="{% url 'user_profile' username=request.user.username %}">
                    <i class="material-icons">
                        person
                    </i><span>ben</span></a>
                </li>

                {% message_status user=request.user as new_message_exists %}
                <li {% if new_message_exists %}class="new"{% endif %}>
                    <a class="nav-quicklink" href="{% url 'messages' %}">
                        <i class="material-icons">
                            chat_bubble_outline
                        </i><span>mesaj</span></a>
                </li>

                {% following_status request.user as unread_content_exists %}
                <li {% if unread_content_exists %}class="new"{% endif %}><a class="nav-quicklink"
                                                                            href="{% url 'activity' %}">
                    <i class="material-icons">
                        timeline
                    </i><span>olay</span></a>
                </li>


                <li class="desktop-only">
                    <a data-toggle="dropdown" href="#">
                        <i class="material-icons">more_horiz</i></a>


                    <div class="user-dropdown dropdown-menu dropdown-menu-right"
                         aria-labelledby="user-dropdown">
                        <a class="dropdown-item" href="{% url 'category_list' %}">kanallar</a>
                        <a class="dropdown-item" href="{% url 'user_preferences' %}">ayarlar</a>
                        <a class="dropdown-item" href="{% url 'people' %}">takip/engellenmiş</a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="/logout/">terk</a>
                    </div>

                </li>

            </ul>


        {% else %}
            <nav class="usermenu">
                <ul>
                    <li>
                        <a href="{% url 'login' %}">giriş yap</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">kayıt ol</a>
                    </li>
                </ul>
            </nav>

        {% endif %}

    </div>

    <!--- categories and mobile navigation -->
    <nav class="sub-nav">
        <ul id="category_view">
            {% if  user.is_authenticated %}
                <li class="nav-item" data-category="bugun" data-safename="bugün">
                    <a id="bugun" href="{% url "topic_list" slug="bugun" %}">
                        bugün
                    </a>
                </li>
            {% endif %}

            <li class="nav-item" data-category="gundem" data-safename="gündem">
                <a id="gundem" href="{% url "topic_list" slug="gundem" %}">gündem</a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item" data-category="takip" data-safename="takip">
                    <a title="takip ettiğim yazarlar ne yazmış?" href="#">takip</a>
                </li>

                {#                <li class="nav-item desktop-only" data-category="son" data-safename="son">#}
                {#                    <a href="#">son</a>#}
                {#                </li>#}
                {#                #}
                <li class="nav-item desktop-only" data-category="kenar" data-safename="kenar">
                    <a href="#">kenar</a>
                </li>




                <li class="nav-item" data-category="caylaklar" data-safename="çaylaklar">
                    <a href="{% url 'topic_list' slug="caylaklar" %}">çaylaklar</a>
                </li>
            {% endif %}

            <li data-category="tarihte-bugun" data-safename="tarihte bugün"
                class="desktop-only nav-item">
                <a href="{% url "topic_list" slug="tarihte-bugun" %}">tarihte bugün</a>
            </li>

            {% categories_list as nav_categories %}
            {% for category in nav_categories|slice:":4" %}
                <li class="nav-item desktop-only" data-category="{{ category.slug }}"
                    data-safename="{{ category.name }}"
                    class="replace_auth">
                    <a href="/basliklar/{{ category.slug }}/"
                       title="{{ category.description }}">#{{ category.name }}</a>
                </li>
            {% endfor %}


            {% if not user.is_authenticated %}
                <li class="nav_auth_item">
                    <a href="{% url 'login' %}">giriş yap</a>
                </li>
                <li class="nav_auth_item">
                    <a href="{% url 'register' %}">kayıt ol</a>
                </li>
            {% endif %}


            <li class="mobile-only">
                <a id="kanallar" href="/kanallar/">kanallar</a>
            </li>

            <li class="desktop-only" id="more_tags_button" data-toggle="dropdown">
                <i class="material-icons">more_horiz</i>

            </li>

            <div id="category_view_in" class="more_tags_dropdown dropdown-menu dropdown-menu-right"
                 aria-labelledby="more_tags_button">

                {% for category in nav_categories|slice:"4:" %}
                    <a data-category="{{ category.slug }}" data-safename="{{ category.name }}"
                       class="dropdown-item nav-item"
                       href="{% url 'topic_list' slug=category.slug %}">#{{ category.name }}</a>

                {% endfor %}


                <div class="dropdown-divider"></div>
                <a class="dropdown-item nav-item" data-safename="başıboşlar" data-category="basiboslar"
                   href="/basliklar/basiboslar/">başıboşlar</a>


            </div>


        </ul>
    </nav>
</header>


<!-- content -->


<div class="container-fluid content">


    <!-- entry list -->
    <div id="left-frame-nav" class="left-frame">

        <div class="row m-0" id="category_holder" style="min-height: 34px;">
            <h2 class=" col-md-6 p-0 col-sm-6">
                <span id="current_category_name">yükleniyor</span><i class="material-icons spinning"
                                                                     id="load_indicator">refresh</i>
            </h2>


            <select style="display: none;" class="col-md-6 col-sm-6 p-0 pl-2" id="year_select"></select>

        </div>
        <div id="lf_pagination_wrapper" class="lf_pagination dj-hidden">
            <a id="lf_navigate_before" href="#">«</a>

            <select id="left_frame_paginator">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>

            </select>
            <span style="color:#444">&nbsp;/&nbsp;</span>
            <a id="lf_total_pages" href="#"></a>
            <a id="lf_navigate_after" href="#" style="margin-left:4px;">»</a>
        </div>
        <ul id="topic-list" class="list-group topic-list"></ul>
        <a href="#" id="show_more">tümünü görüntüle</a>


    </div>


    <!-- page content-->
    <div class="content-frame">
        {% block content %}{% endblock %}
    </div>


    <div class="right-frame">
        {% block rightframe %}{% endblock %}
    </div>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<div class="notification-bubble dj-hidden" id="notifications"
     {% if messages %}data-request-message="{% for message in messages %}
        {% if messages|length > 1 %}{{ forloop.counter }}. {% endif %}{{ message }}
    {% endfor %}
"{% endif %}></div>


<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="{% static 'jquery.autocomplete.min.js' %}"></script>
<script src="{% static 'djdict.js' %}"></script>
{% block javascript %}{% endblock %}
</body>

</html>