{% extends "base.html" %}

{% block title %}takip/engellenmişler{% endblock %}
{% block bodyattr %}class="default topic-entry-view"{% endblock %}

{% block content %}
    <h5>takip ettiğin ve engellenmiş insanlar</h5>
    <hr>
    <h6>takip ettiklerin: </h6>
    {% if following.all %}
        {{ following.count }} kişi
        <ul class="people-list">
            {% for author in following.all %}

                <li><a href="{% url 'user_profile' username=author.username %}">{{ author.username }}</a></li>

            {% endfor %}
        </ul>
    {% else %}
        <small>yok ki</small>
    {% endif %}

    <h6>engellediklerin:</h6>
    {% if blocked.all %}
        {{ blocked.count }} kişi, engeli kaldırmak için üstüne tıkla
        <ul class="people-list">
            {% for author in blocked.all %}

                <li><a href="#" class="unblock-user-trigger"
                       data-username="{{ author.username }}">{{ author.username }}</a></li>

            {% endfor %}
        </ul>
    {% else %}
        <small>yok ki</small>
    {% endif %}

{% endblock %}