{% extends "base.html" %}
{% block title %}{{ page_safename }}{% endblock %}
{% block bodyattr %}class="topic-list-view"{% endblock %}

{% block content %}
    {#todo: gündem/tarihte bugün vs. filtre#}
    <div class="left-frame-in">
        <h2>{{ page_safename }}</h2>


        {% if slug_name == "tarihte-bugun" %}
            <select class="mobile-topic-list" id="mobile_year_changer">
                {% for year in year_range %}
                    {# |add used here for type conversion https://stackoverflow.com/a/7405779/6063532#}
                    {% if year == current_year|add:"0" %}
                        <option value="{{ year }}" selected>{{ year }}</option>
                    {% else %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endif %}

                {% endfor %}
            </select>
            <hr>
        {% endif %}

        <ul id="topic-list-standalone" class="list-group topic-list">
            {% if topics %}
                {% for topic in topics %}
                    <li class="list-group-item"><a href="{{ topic.slug }}">{{ topic.title }}
                        <small class="total_entries">{{ topic.count }}</small>
                    </a></li>
                {% endfor %}
            {% else %}
                {% if slug_name == "tarihte-bugun" %}
                    <hr>
                    <small>{{ current_year }} yılına ait bişey yok valla. hatta böyle bir yıl bile olmayabilir.</small>
                {% else %}
                    <small>yok ki</small>
                {% endif %}
            {% endif %}
        </ul>

        {% if is_paginated %}
            {% load functions %}
            <br>
            <div class="lf_pagination stretch">

                {% if page_obj.has_previous %}
                    <a title="önceki sayfa" href="?{% url_replace request 'page' page_obj.previous_page_number %}">«</a>
                {% endif %}

                <select id="entry_list_page">
                    {% for page in page_obj.paginator.page_range %}
                        {% if page == page_obj.number %}
                            <option selected>{{ page }}</option>
                        {% else %}
                            <option>{{ page }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <span style="color:#444;">&nbsp;/&nbsp;</span>

                <a class="number" title="son sayfa"
                   href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                {% if page_obj.has_next %}
                    <a title="sonraki sayfa" href="?{% url_replace request 'page' page_obj.next_page_number %}"
                       style="margin-left:4px;">»</a>
                {% endif %}


            </div>

        {% endif %}
    </div>


{% endblock %}
