{% extends "base.html" %}

{% block title %}kullanıcı: {{ author.username }}{% endblock %}
{% block bodyattr %}class="default topic-entry-view"{% endblock %}

{% block content %}
    {% load humanize %}
    <section class="user-info">
        <h4><a href="{% url 'topic_search' %}?q={{ author.username }}">{{ author.username }}</a></h4>


        {% if request.user.is_authenticated and request.user != author %}
            {% include "includes/send_message_modal.html" %}
            {% include "includes/block_user_modal.html" %}

            <ul class="user-links" data-username="{{ author.username }}">
                <li id="follow_user"><a href="#">{% if author in request.user.following.all %}takip etme{% else %}takip
                    et{% endif %}</a></li>
                <li class="block-user-trigger" data-username="{{ author.username }}"><a href="#">engelle</a></li>
                <li class="send-message-trigger" data-recipient="{{ author.username }}"><a href="#">mesaj gönder</a>
                </li>
            </ul>
        {% endif %}


        <ul class="user-stats">
            <li title="toplam entry sayısı">{{ author.entry_count }}</li>
            <li title="son 1 ayda girdiği entry sayısı">{{ author.entry_count_month }}</li>
            <li title="son 1 haftada girdiği entry sayısı">{{ author.entry_count_week }}</li>
            <li title="son 24 saatte girdiği entry sayısı">{{ author.entry_count_day }}</li>
            <li class="nobullet" title="son entry girdiği zaman">{{ author.last_entry_date|naturalday }}</li>

            <li class="profile-badges nobullet ml-2">
                {% if author.is_novice %}
                    <a href="{% url 'topic_unicode_url' unicode="çaylak" %}">çaylak</a>
                {% endif %}
            </li>
            {% if novice_queue %}
                <span style="float: right">çaylak onay listesinde {{ novice_queue|ordinal }} sıradasınız </span>
            {% endif %}
        </ul>


        {% if author.pinned_entry %}
            {% with author.pinned_entry as entry %}
                {% include "includes/profile_entry_pinned.html" %}
            {% endwith %}
        {% else %}
            {% if author.entry_nice %}
                {% with author.entry_nice as entry %}
                    {% include "includes/profile_entry_pinned.html" %}
                {% endwith %}
            {% endif %}
        {% endif %}


    </section>

    <section class="user-info-detail">
        <div class="detail-nav" id="detail_nav">
            <ul>
                <li {% if tab == "entries" %}class="active"{% endif %}><a
                        href="{% url 'user_profile' username=author.username %}">entry'ler</a></li>
                <li {% if tab == "favorites" %}class="active"{% endif %}><a href="?t=favorites">favorileri</a></li>
                <li {% if tab == "popular" %}class="active"{% endif %}><a href="?t=popular">en çok favorilenenleri</a>
                </li>
            </ul>
        </div>
    </section>




    {% if entries %}
        <section class="user_entries">
            <ul class="profile">
                {% for entry in entries %}
                    {% include "includes/entry.html" with show_title="yes" %}
                {% endfor %}
            </ul>
        </section>
    {% else %}
        <small>yok ki</small>
    {% endif %}
    <hr>

    {% load functions %}

    {% if entries.paginator.num_pages > 1 %}
        <header class="entry_header">
            <div class="pagination">


                {% if entries.has_previous %}
                    <a href="?{% url_replace request 'page' entries.previous_page_number %}">«</a>
                {% endif %}


                <select id="entry_list_page">
                    {% for page in entries.paginator.page_range %}
                        {% if page == entries.number %}
                            <option selected>{{ page }}</option>
                        {% else %}
                            <option>{{ page }}</option>
                        {% endif %}

                    {% endfor %}
                </select>

                <span style="color:#444">&nbsp;/&nbsp;</span>

                <a href="?{% url_replace request 'page' entries.paginator.num_pages %}">{{ entries.paginator.num_pages }}</a>
                {% if entries.has_next %}
                    <a href="?{% url_replace request 'page' entries.next_page_number %}"
                       style="margin-left:4px;">»</a>
                {% endif %}
            </div>

        </header>
    {% endif %}



{% endblock %}
{% block rightframe %}

    <h6><strong>notlar</strong></h6>
    <form method="post" class="memento">
        <textarea name="memento" rows="10"
                  placeholder="{{ author.username }} hakkındaki düşünceleriniz">{{ memento }}</textarea>
        {% csrf_token %}
        <button class="btn btn-django">kaydet</button>
    </form>

{% endblock %}