{% load cache %}
{% cache None block-user-modal %}
    <div class="modal fade" id="blockUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h5">kişiyi engelle</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p><span id="username-holder" style="font-weight: 600;"></span> kullanıcısını gerçekten engellemek istiyor musunuz? şunlardan mahrum olacaksınız:</p>
                    <ul style="list-style-type: circle;">
                        <li>kişiye mesaj gönderemeyeceksiniz (vice versa)</li>
                        <li>kişinin profiline bakamayacaksınız (vice versa)</li>
                        <li>kişinin bugün'e giren başlıklarını göremeyeceksiniz</li>
                        <li>kişinin entry'lerini göremeyeceksiniz</li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" data-dismiss="modal">ay pardon</button>
                    <button type="button" class="btn btn-django-link" id="block_user" data-username="">engelle gitsin</button>
                </div>
            </div>
        </div>
    </div>
{% endcache %}