{% load i18n %}
<div class="editor-buttons">
    {# Translators: Editor button (see) #}
    <button class="add-code" title="{% trans "also see this.." %}" id="insert_bkz" class="add-code">{% trans "(see: thingy)" %}</button>
    <button class="add-code" title="{% trans "link to entry, author or topic" %}" id="insert_hede" class="add-code">{% trans "thingy" %}</button>
    <button class="add-code" title="{% trans "see this (ironic)" %}" id="insert_swh">&#8727;</button>
    <button class="add-code" title="{% trans "spoil something" %}" id="insert_spoiler">{% trans "--spoiler--" %}</button>
    <button class="add-code" title="{% trans "link to external sites" %}" id="insert_link">http://</button>
</div>