{% load i18n %}
<div class="editor-buttons d-flex justify-content-between">
    <div>
        {# Translators: Editor button (see) #}
        <button type="button" class="btn add-code insert" data-type="ref" title="{% trans "also see this.." %}">{% trans "(see: thingy)" %}</button>
        <button type="button" class="btn add-code insert" data-type="thingy" title="{% trans "link to entry, author or topic" %}">{% trans "thingy" %}</button>
        <button type="button" class="btn add-code insert" data-type="swh" title="{% trans "see this (ironic)" %}">&#8727;</button>
        <button type="button" class="btn add-code insert" data-type="spoiler" title="{% trans "spoil something" %}">{% trans "--spoiler--" %}</button>
        <button type="button" class="btn add-code" title="{% trans "link to external sites" %}" id="insert_link">http://</button>
    </div>
    {% if not user.is_novice %}
        <button type="button" class="btn add-code" title="{% trans "add some nice images" %}" id="insert_image">{% trans "image" context "editor" %}</button>
    {% endif %}
    <div class="modal fade" id="editorModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h1 class="modal-title h5 font-weight-bold">
                        <label for="editor_input"></label>
                    </h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-0">
                    <div class="position-relative">
                        <input type="text" class="form-control lead" id="editor_input" style="font-size: 16px">
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn" data-dismiss="modal">{% trans "oops, sorry" %}</button>
                    <button type="button" class="btn btn-django-link" data-dismiss="modal" id="editor_done">{% trans "done" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>