{% load filters %}{% load functions %}
<li data-id="{{ entry.pk }}" class="entry-full{% if user.is_authenticated %}{% if entry.author == user %} owner{% endif %}{{ entry.author.is_private|yesno:" private," }}{% endif %}{% if gap %} mb-{{ gap }}{% endif %}"{% if show_title == "yes" %} data-topic="{{ entry.topic.title }}"{% endif %}>
    <section>
    {% with time=entry.date_created|entrydate:entry.date_edited %}
        <header class="entry-individual">
            {% if show_title == "yes" %}
                <h2><a href="{{ entry.topic.get_absolute_url }}">{{ entry.topic.title }}</a></h2>
            {% endif %}

            <div class="mobile">
                {% if not entry.author.is_private %}
                    <a class="username" href="{{ entry.author.get_absolute_url }}" style="font-weight: 600;">{{ entry.author.username }}</a>
                {% else %}
                    <span><i>anonim</i></span>
                {% endif %}

                <a role="button" title="entry aksiyonları" tabindex="0" class="action" data-toggle="dropdown" aria-haspopup="true">
                    <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <use href="#more"></use>
                    </svg>
                </a>

                <a href="{{ entry.get_absolute_url }}" class="permalink">
                    <time datetime="{{ entry.date_created|date:"c" }}">{{ time }}</time>
                </a>
                <div class="dropdown-menu dropdown-menu-right entry-actions"></div>
            </div>
        </header>

        <article class="entry{% if entry.author.is_novice %} by_novice{% endif %}{% if permalink == "yes" %} permalink{% endif %}">
            <p>{{ entry.content|formatted|linebreaksbr }}</p>
        </article>

        <footer class="entry-footer">
            <div class="feedback">
                <div class="social">
                    <a role="button" tabindex="0" title="facebook'ta paylaş" class="facebook">
                        <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <use href="#facebook"></use>
                        </svg>
                    </a>
                    <a role="button" tabindex="0" title="twitter'da tweetle" class="twitter">
                        <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <use href="#twitter"></use>
                        </svg>
                    </a>
                </div>

                {% if user != entry.author %}
                    <div class="votes">
                        <a role="button" tabindex="0" title="şükela!" class="upvote{{ entry.is_upvoted|yesno:" active," }}">
                            <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <use href="#up"></use>
                            </svg>
                        </a>

                        <a role="button" tabindex="0" title="çok kötü" class="downvote{{ entry.is_downvoted|yesno:" active," }}">
                            <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <use href="#down"></use>
                            </svg>
                        </a>
                    </div>
                {% endif %}

                {% if user.is_authenticated %}
                    <div class="favorites">
                        <a role="button" tabindex="0" {% if entry.is_favorited %}title="favorilerden çıkar" class="favorite active" {% else %}title="favorilere ekle" class="favorite"{% endif %}>
                            <svg width="25" height="13" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <use href="#favorite"></use>
                            </svg>
                        </a>
                        <a role="button" class="fav-count" tabindex="0" data-toggle="dropdown" aria-label="Favoriler" aria-haspopup="true" aria-expanded="false">{% firstof entry.favorited_by.count %}</a>
                        <span class="dropdown-menu favorites-list" data-loaded="false"></span>
                    </div>
                {% endif %}
            </div>

            <div class="meta">
                <a href="{{ entry.get_absolute_url }}" class="permalink">
                    <time datetime="{{ entry.date_created|date:"c" }}">{{ time }}</time>
                </a>
                {% if not entry.author.is_private %}
                    <a class="username" href="{{ entry.author.get_absolute_url }}">{{ entry.author.username }}</a>
                {% else %}
                    <span><i>anonim</i></span>
                {% endif %}

                <a role="button" tabindex="0" title="entry aksiyonları" class="action" data-toggle="dropdown" aria-haspopup="true">
                        <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <use href="#more"></use>
                    </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right entry-actions"></div>
            </div>
        </footer>
    {% endwith %}
    </section>
</li>