{% load filters %}{% load functions %}
<li data-topic="{{ entry.topic.title }}" data-id="{{ entry.pk }}" class="entry-full{% if user.is_authenticated %}{% if entry.author == user %} owner{% endif %}{{ entry.author.is_private|yesno:" private," }}{% else %} unauthenticated{% endif %}">
    {% with time=entry.date_created|entrydate:entry.date_edited %}
        <header class="entry-individual">
            {% if show_title == "yes" %}
                <h5><a href="{{ entry.topic.get_absolute_url }}">{{ entry.topic.title }}</a></h5>
            {% endif %}

            <div class="mobile">
                {% if not entry.author.is_private %}
                    <a class="username" href="{{ entry.author.get_absolute_url }}" style="font-weight: 600;">{{ entry.author.username }}</a>
                {% else %}
                    <span><i>anonim</i></span>
                {% endif %}

                <a role="button" title="entry aksiyonları" tabindex="0" class="action" data-toggle="dropdown" aria-haspopup="true">
                    <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <use href="#more"></use>
                    </svg>
                </a>

                <a href="{{ entry.get_absolute_url }}" class="permalink">
                    <time>{{ time }}</time>
                </a>
                <div class="dropdown-menu dropdown-menu-right entry-actions"></div>
            </div>
        </header>

        <article class="entry{% if entry.author.is_novice %} by_novice{% endif %}{% if permalink == "yes" %} permalink{% endif %}">
            <p>{{ entry.content|formatted|linebreaksbr }}</p>
        </article>

        <footer class="entry-footer">
            <div class="feedback">
                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={% entry_full_url req=request entry_id=entry.id %}" title="facebook'ta paylaş" class="facebook" rel="noopener">
                        <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <use href="#facebook"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://twitter.com/intent/tweet?text={{ entry.topic.title }}: {% entry_full_url req=request entry_id=entry.id %}" title="twitter'da tweetle" class="twitter" rel="noopener">
                        <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <use href="#twitter"></use>
                        </svg>
                    </a>
                </div>

                {% if user != entry.author %}
                    <div class="votes">
                        <a role="button" tabindex="0" title="şükela!" class="upvote">
                            <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <use href="#up"></use>
                            </svg>
                        </a>

                        <a role="button" tabindex="0" title="çok kötü" class="downvote">
                            <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <use href="#down"></use>
                            </svg>
                        </a>
                    </div>
                {% endif %}

                {% if user.is_authenticated %}
                    <div class="favorites">
                        {% with favorites=entry.favorited_by.all %}
                            <a role="button" tabindex="0" {% if user in favorites %}title="favorilerden çıkar" class="favorite active" {% else %}title="favorilere ekle" class="favorite"{% endif %}>
                                <svg width="25" height="13" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#favorite"></use>
                                </svg>
                            </a>
                            <a role="button" class="fav-count" tabindex="0" data-toggle="dropdown" aria-label="Favoriler" aria-haspopup="true" aria-expanded="false">{% if favorites %}{{ favorites|length }}{% endif %}</a>
                            <span class="dropdown-menu favorites-list" data-loaded="false"></span>
                        {% endwith %}
                    </div>
                {% endif %}
            </div>

            <div class="meta">
                <a href="{{ entry.get_absolute_url }}" class="permalink">
                    <time>{{ time }}</time>
                </a>
                {% if not entry.author.is_private %}
                    <a class="username" href="{{ entry.author.get_absolute_url }}">{{ entry.author.username }}</a>
                {% else %}
                    <span><i>anonim</i></span>
                {% endif %}

                <a role="button" tabindex="0" title="entry aksiyonları" class="action" data-toggle="dropdown" aria-haspopup="true">
                        <svg width="25" height="13" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <use href="#more"></use>
                    </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right entry-actions"></div>
            </div>
        </footer>
    {% endwith %}
</li>