{% with left_frame as lf %}
    {# CATEGORY NAME AND YEAR SELECTOR  @formatter:off #}
    <div class="row m-0" id="category_holder" style="min-height: 34px; align-items: center;">

        <h2 class="col-lg-auto p-0" id="top">
            <span id="current_category_name" style="vertical-align: sub;">{{ lf.safename }}</span>
            <span id="load_indicator" style="display: none;">
                <svg class="spinning" width="22px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <use href="#loading"></use>
                </svg>
            </span>
        </h2>

        <select {% if lf.slug != "tarihte-bugun" %}style="display: none;"{% endif %} class="year-select col-lg-auto py-1 px-1 mb-1 form-control" id="year_select" aria-label="Yıl seçici">
            {% for year in lf.year_range %}
                <option value="{{ year }}" {% if year == lf.year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>

    </div>
    {# CATEGORY NAME AND YEAR SELECTOR END #}

    {# TABS #}
    <ul class="nav nav-tabs nav-fill{% if not lf.tabs %} dj-hidden{% endif %}" id="left-frame-tabs">
    {% if lf.tabs %}
        {% for name, safename in lf.tabs.available.items %}
            <li class="nav-item">
                <a role="button" tabindex="0" data-lf-slug="{{ lf.slug }}" data-tab="{{ name }}" class="nav-link{% if name == lf.tabs.current %} active{% endif %}">{{ safename }}</a>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
    {# TABS #}


    {#  REFRESH BUTTON  #}
    <div class="refresh-button {% if not lf.refresh_count %}dj-hidden{% endif %}" id="refresh_bugun"
         title="akıt gelsin">yenile <span id="new_content_count">({{ lf.refresh_count }})</span></div>
    {#  REFRESH BUTTON  #}

    {# PAGINATION START #}
    <div id="lf_pagination_wrapper" class="lf_pagination index{% if lf.page.number == 1 or not lf.page.has_other_pages %} dj-hidden{% endif %}">
        <a id="lf_navigate_before" role="button" tabindex="0">«</a>

        <select id="left_frame_paginator" aria-label="Sayfa seçici">
            {% for page in lf.page.paginator.page_range %}
                <option value="{{ page }}" {% if page == lf.page.number %}selected{% endif %}>{{ page }}</option>
            {% endfor %}
        </select>

        <span style="color:#444">&nbsp;/&nbsp;</span>
        <a id="lf_total_pages" role="button" tabindex="0">{{ lf.page.paginator.num_pages }}</a>
        <a class="ml-1" id="lf_navigate_after" role="button" tabindex="0">»</a>
    </div>
    {# PAGINATION END #}

    {# TOPIC LIST START #}
            <ul id="topic-list" class="list-group topic-list">
            {% if lf.page.object_list %}
                {% for topic in lf.page.object_list %}
                    <li class="list-group-item">
                        <a href="{{ lf.slug_identifier }}{{ topic.slug }}/{{ lf.parameters }}">{{ topic.title }}<small class="total_entries">{{ topic.count }}</small></a>
                    </li>
                {% endfor %}
            {% else %}
                <small>yok ki</small>
            {% endif %}
            </ul>
    {# TOPIC LIST END @formatter:on #}

    {# SHOW MORE LINK  #}
    <a href="#top" id="show_more"
       {% if lf.page.number != 1 or not lf.page.has_other_pages %}class="dj-hidden"{% endif %}>tümünü görüntüle</a>
{% endwith %}