{% load filters i18n %}
<div class="blackquote-container">
    <blockquote class="user-pin m-0">
        <h2 class="h5 d-flex justify-content-between">
            <a href="{{ entry.topic.get_absolute_url }}"><strong>{{ entry.topic.title }}</strong></a>
            {% if entry.id == user.pinned_entry_id %}
                <a role="button" tabindex="0" class="pin-sync" data-id="{{ entry.pk }}">
                    <svg style="transform: scaleX(-1);" class="float-right" fill="currentColor" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <use href="#pin"></use>
                        <title>{% trans "unpin this from the profile" %}</title>
                    </svg>
                </a>
            {% endif %}
        </h2>
        {% with text=entry.content|formatted|linebreaksbr %}
            <span class="entry-content text-formatted">{{ text|truncatechars_html:700 }}</span>
            <div class="d-flex justify-content-between">
                {% if entry.author == user %}
                    <a class="mr-2" href="{% url 'entry_update' pk=entry.pk %}">{% trans "edit" %}</a>{% endif %}
                {% if text|length > 700 %}
                    <a href="{{ entry.get_absolute_url }}">{% trans "read more »" %}</a>
                {% endif %}
                <a class="ml-auto" href="{{ entry.get_absolute_url }}">{{ entry.date_created|entrydate:entry.date_edited }}</a>
            </div>
        {% endwith %}
    </blockquote>
</div>