{% extends "dictionary/base.html" %}
{% block title %}düzelt{% endblock %}
{% block content %}
    {% load filters %}
    {% load widget_tweaks %}
    <h4 style="font-weight: 600;"><a href="{{ entry.topic.get_absolute_url }}">{{ entry.topic.title }}</a></h4>
    <br>

    <section class="user-comments">
        <div class="editor-buttons">
            <button id="insert_bkz" class="add-code">(bkz: hede)</button>
            <button id="insert_hede" class="add-code">hede</button>
            <button id="insert_swh" class="add-code">*</button>
            <button id="insert_spoiler" class="add-code">- spoiler -</button>
            <button id="insert_link" class="add-code">http://</button>
        </div>
        {% load widget_tweaks %}

        <form method="post">
            {% csrf_token %}

            {% with entry.topic.title|addstr:" başlığı hakkında bilgi verin.." as text_placeholder %}
                {% render_field form.content|attr:"autofocus" placeholder=text_placeholder id="user_content_edit" class="entry_editor form-control" rows="10" spellcheck="true" %}
            {% endwith %}

            <div class="row">
                <div class="col-6">
                    {% if entry.is_draft %}
                        <div class="custom-control custom-checkbox">
                            {% render_field form.is_draft class="custom-control-input" id="is_draft" %}
                            <label class="custom-control-label" for="is_draft">kenarda dursun şimdilik</label>

                        </div>


                        <a href="#" data-target-entry="{{ entry.id }}" class="delete-entry-redirect">sil</a>
                    {% else %}
                        <a href="#" data-target-entry="{{ entry.id }}" class="delete-entry-redirect">sil</a>
                    {% endif %}
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-django entry_submit">yolla</button>
                </div>
            </div>
            {#                    <input type="hidden" name="next" value="{{ request.path }}">#}
        </form>


    </section>
{% endblock %}