<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="{% static "dictionary/css/style.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'dictionary/img/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <script defer
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.tr.min.js"></script>

    {# Newer versions cause decoding error. Using this temporarily until stable 3.0 release. #}
    <script defer src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0-beta.3/dist/js.cookie.min.js"></script>

    <script defer src="{% static 'dictionary/js/jquery.autocomplete.min.js' %}"></script>
    <script defer src="{% static 'dictionary/js/djdict.js' %}"></script>

    <title>{% block title %}{% endblock %} - django sözlük </title>
</head>

{# Body classes explained #}
{# Some sphaggeti stuff, but 99% of the time, you have nothing to do with body classes below, maybe just has-entries. #}

{# 1) default (standalone use deprecated) => when the width shrinks show LEFT FRAME #}
{# |=> In order to use default and default only, you should enable left frame loading in mobile views in djdict.js #}

{# 2) topic-entry-view => when shrinked show CONTENT FRAME and RIGHT FRAME (use WITH default) #}
{# 3) topic-list-view => when shrinked show only CONTENT FRAME WITH left-frame-in embedded (do not use with default) #}

{# 4) has-entries => If the page is supposed to include 'includes/entry.html' be sure to append this class to body #}
{# |=> It basically adds read more button if entries are too long #}


<body {% block bodyattr %}class="default topic-entry-view"{% endblock %}>


<header class="page_header">

    <div class="container">
        <div class="small-device-alert">cihaz çok küçük!</div>

        <div class="top-bar">

            <!--- logo -->
            <div class="logo">
                <a href="{% url 'home' %}"></a>
            </div>


            <form method="GET" class="header-search-form{% if request.user.is_authenticated %} logged-in{% endif %}"
                  action="{% url 'topic-search' %}" id="header_search_form">
                <div class="input-group searchbox">
                    <input name="q" type="text" placeholder="başlık, #entry ya da @yazar"
                           class="searchbox-text form-control"
                           id="header_search" form="header_search_form">
                    <div class="input-group-append">
                        <button type="button" class="btn dropbtn dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">hayvan ara</span>
                        </button>

                        <button class="btn searchbtn" type="submit" id="button-addon2" title="ara beni ara yar"><i
                                class="material-icons">
                            search
                        </i></button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-advanced-search px-3 py-2"
                             id="dropdown_detailed_search">

                            {% include "dictionary/includes/forms/extended_search.html" with source="dropdown" %}
                            <div class="form-group">
                                <button type="button" class="btn btn-django stretch"
                                        id="perform_advanced_search">çok güzel ara
                                </button>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item search-closer" id="close_search_dropdown">boşver</a>
                        </div>
                    </div>
                </div>
            </form>


            <!--- user navigation -->


            {% if request.user.is_authenticated %}
                <ul class="user-navigation">

                    <li><a class="nav-quicklink" href="{{ request.user.get_absolute_url }}">
                        <i class="material-icons">
                            person
                        </i><span>ben</span></a>
                    </li>


                    <li {% if user.has_unread_messages %}class="new"{% endif %}>
                        <a class="nav-quicklink" href="{% url 'messages' %}">
                            <i class="material-icons">
                                chat_bubble_outline
                            </i><span>mesaj</span></a>
                    </li>

                    <li {% if user.has_unread_topics %}class="new"{% endif %}><a class="nav-quicklink"
                                                                                 href="{% url 'activity' %}">
                        <i class="material-icons">
                            timeline
                        </i><span>olay</span></a>
                    </li>


                    <li class="desktop-only">
                        <a data-toggle="dropdown" role="button" tabindex="0" aria-haspopup="true">
                            <i class="material-icons">more_horiz</i></a>


                        <div class="user-dropdown dropdown-menu dropdown-menu-right"
                             aria-labelledby="user-dropdown">
                            <a class="dropdown-item" href="{% url 'category_list' %}">kanallar</a>
                            <a class="dropdown-item" href="{% url 'user_preferences' %}">ayarlar</a>
                            <a class="dropdown-item" href="{% url 'people' %}">takip/engellenmiş</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">terk</a>
                        </div>

                    </li>

                </ul>


            {% else %}
                <nav class="usermenu">
                    <ul>
                        <li>
                            <a href="{% url 'login' %}">giriş yap</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">kayıt ol</a>
                        </li>
                    </ul>
                </nav>

            {% endif %}

        </div>

        <!--- categories and mobile navigation -->
        <nav class="sub-nav">
            <ul class="mobile-only">
                {% include "dictionary/includes/header_links/bugun.html" %}
                {% include "dictionary/includes/header_links/gundem.html" %}
                {% include "dictionary/includes/header_links/debe.html" %}
                {% include "dictionary/includes/header_links/tarihte-bugun.html" %}

                {% if request.user.is_authenticated %}
                    {% include "dictionary/includes/header_links/takip.html" %}

                    <li id="usermenu_mobile" data-toggle="dropdown">
                        <i class="material-icons">more_horiz</i>
                    </li>

                    <div class="usermenu-dropdown dropdown-menu dropdown-menu-right"
                         aria-labelledby="usermenu_mobile">
                        <a href="{% url "category_list" %}" class="dropdown-item">kanallar</a>
                        <a href="{% url "topic_list" slug="kenar" %}" class="dropdown-item">kenar</a>
                        <a href="{% url "topic_list" slug="caylaklar" %}" class="dropdown-item">çaylaklar</a>
                        <a href="{% url "topic_list" slug="hayvan-ara" %}" class="dropdown-item">hayvan ara</a>
                        <a href="{% url "user_preferences" %}" class="dropdown-item">ayarlar</a>
                        <a href="{% url "people" %}" class="dropdown-item">takip/engellenmiş</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url "logout" %}" class="dropdown-item">terk</a>
                    </div>

                {% else %}
                    <li>
                        <a href="{% url 'login' %}">giriş yap</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">kayıt ol</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="desktop-only" id="category_view">
                {% include "dictionary/includes/header_links/bugun.html" %}
                {% include "dictionary/includes/header_links/gundem.html" %}
                {% include "dictionary/includes/header_links/debe.html" %}

                {% if request.user.is_authenticated %}
                    {% include "dictionary/includes/header_links/takip.html" %}

                    <li class="nav-item{% if active_category == "kenar" %} active{% endif %}" data-category="kenar"
                        data-safename="kenar">
                        <a title="kenara attığım entry'ler" href="{% url 'topic_list' slug="kenar" %}">kenar</a>
                    </li>

                    <li class="nav-item{% if active_category == "caylaklar" %} active{% endif %}"
                        data-category="caylaklar" data-safename="çaylaklar">
                        <a title="çömezlerin girdikleri" href="{% url 'topic_list' slug="caylaklar" %}">çaylaklar</a>
                    </li>
                {% endif %}

                {% include "dictionary/includes/header_links/tarihte-bugun.html" %}

                {% for category in nav_categories|slice:":4" %}
                    <li class="nav-item{% if active_category == category.slug %} active{% endif %}"
                        data-category="{{ category.slug }}"
                        data-safename="{{ category.name }}">
                        <a href="{{ category.get_absolute_url }}"
                           title="{{ category.description }}">#{{ category.name }}</a>
                    </li>
                {% endfor %}

                <li id="more_tags_button" data-toggle="dropdown" tabindex="0" aria-haspopup="true">
                    <i class="material-icons">more_horiz</i>
                </li>

                <div id="category_view_in" class="more_tags_dropdown dropdown-menu dropdown-menu-right"
                     aria-labelledby="more_tags_button">

                    {% for category in nav_categories|slice:"4:12" %}
                        <a data-category="{{ category.slug }}" data-safename="{{ category.name }}"
                           class="dropdown-item nav-item{% if active_category == category.slug %} active{% endif %}"
                           href="{{ category.get_absolute_url }}">#{{ category.name }}</a>

                    {% endfor %}

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item nav-item{% if active_category == "basiboslar" %} active{% endif %}"
                       data-safename="başıboşlar" data-category="basiboslar"
                       href="{% url 'topic_list' slug='basiboslar' %}">başıboşlar</a>
                    <a href="{% url 'category_list' %}" class="dropdown-item nav-item regular">tüm kanallar</a>
                </div>
            </ul>
        </nav>
    </div>

</header>


<!-- content -->


<div class="container content">

    <div id="left-frame-nav" class="left-frame">
        {% if request.is_mobile %}
            <h2>hay aksi!</h2>
            <p>bir şeyler yanlış gitti. sayfayı yenilemeyi deneyin</p>
        {% else %}
            {% include "dictionary/includes/left_frame.html" %}
        {% endif %}
    </div>


    <!-- page content-->
    <div class="content-frame">
        {% block content %}{% endblock %}
    </div>


    <div class="right-frame">
        {% block rightframe %}{% endblock %}
        {% load cache %}
        {% cache None footer %}
            <footer class="body-footer">
                {% load functions %}
                <h2 style="font-size: 1.3em;">django sözlük</h2>
                <ul>
                    <li><a href="{% url 'general-report' %}">iletişim formu</a></li>
                    <li><a href="{% url_flat "terms-of-use" %}">kullanım koşulları</a></li>
                    <li><a href="{% url_flat "privacy-policy" %}">gizlilik politikası</a></li>
                    <li><a href="{% url_flat "faq" %}">sıkça sorulanlar</a></li>
                    <li><a href="{% url_social "instagram" %}" target="_blank">instagram</a></li>
                    <li><a href="{% url_social "facebook" %}" target="_blank">facebook</a></li>
                    <li><a href="{% url_social "twitter" %}" target="_blank">twitter</a></li>
                </ul>
            </footer>
        {% endcache %}
        {% include "dictionary/includes/devinfo.html" %}
    </div>

</div>

<div class="notification-bubble" id="notifications"
     {% if messages %}data-request-message="{% for message in messages %}
        {% if messages|length > 1 and forloop.counter > 1 %}&&{% endif %}{{ message }}::{{ message.tags }}
    {% endfor %}"{% endif %}>
</div>

</body>
</html>