{% extends 'dictionary/base.html' %}
{% block supertitle %}{{ request.site.name }} - özgür bilgi kaynağı{% endblock %}
{% block content %}
    {% if entries %}
        <section class="user_entries">
            <ul class="home">
                {% for entry in entries %}
                    {% include "dictionary/includes/entry.html" with show_title="yes" gap="3" %}
                {% endfor %}
            </ul>
        </section>
    {% else %}
        <div class="border rounded p-3 bg-light">
            <span>gösterime uygun entry yok 🤷</span>
            {% if index_type == "random_records" %}
                <hr>
                <p class="m-0">
                    <b>random records:</b> anasayfa'da entry'lerin gözükmesi için
                    varsayılan ayarlarda tüm zamanlarda en az 15×2 entry girilmiş olmalı.
                    tüm zamanlarda 15×2 entry girilmesine rağmen <u>yazarlar tarafından yayımlanmış</u>
                    toplam entry sayısı 15'ten az ise anasayfa yanıt vermeyecektir.
                </p>
            {% endif %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% include "dictionary/includes/block_user_modal.html" %}
        {% include "dictionary/includes/send_message_modal.html" %}
    {% endif %}
{% endblock %}