{% extends 'dictionary/base.html' %}

{% load i18n %}

{% block supertitle %}{{ request.site.name }} - özgür bilgi kaynağı{% endblock %}
{% block bodyclass %} has-entries{% endblock %}
{% block bodyattr %}{% if user.is_authenticated and user.pinned_entry_id %} data-pin="{{ user.pinned_entry_id }}"{% endif %}{% endblock %}
{% block content %}
    {% if entries %}
        <section class="user_entries">
            <ul class="home entries">
                {% for entry in entries %}
                    {% include "dictionary/includes/entry.html" with show_title="yes" gap="3" %}
                {% endfor %}
            </ul>
        </section>
    {% else %}
        <div class="border rounded p-3 bg-light">
            <span>{% trans "no entries found suitable for display 🤷" %}</span>
            {% if index_type == "random_records" %}
                <hr>
                <p class="m-0">
                {% blocktrans trimmed %}
                    <b>random records:</b> in order entries to appear in home page, there needs
                    to be at least 15×2 entries (in default settings). if the number of
                    entries <u>written by authors</u> is less than 15, despite the count of all
                    time written entries being more than 15×2, the home page will not respond.
                {% endblocktrans %}
                </p>
            {% endif %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% include "dictionary/includes/block_user_modal.html" %}
        {% include "dictionary/includes/send_message_modal.html" %}
    {% endif %}
{% endblock %}