{% load i18n %}
{% url "confirm-email" token=token as confirm_url %}
{% blocktrans trimmed with name=user.username %}
    <h4>dear {{ name }}</h4>
    <p>to confirm your e-mail, follow this link:</p>
    <a href="{{ protocol }}://{{ domain }}{{ confirm_url }}">confirm e-mail</a>
    <p>if you can't see or click the link, navigate to this link via the address bar:</p>
    <p>{{ protocol }}://{{ domain }}{{ confirm_url }}</p>
    <p>if you didn't request such thing, you don't need to worry about anything.</p>
    <p>have a good day.</p>
{% endblocktrans %}