{% extends "dictionary/base.html" %}
{% block title %}e-mail onaylaması{% endblock %}
{% block content %}
    {% load widget_tweaks %}
    <h1 class="h4 mb-3"><strong><a href="{% url 'login' %}">giriş</a> &raquo; onaylama e-postasını tekrar gönder</strong></h1>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        <div class="form-group">
            <label for="emailForResend">{{ form.email.label }}</label>
            {% render_field form.email class="form-control" id="emailForResend" %}
            {% for error in form.email.errors %}
                <p class="text-danger">{{ error|escape }}</p>
            {% endfor %}
        </div>

        {% csrf_token %}
        <button class="btn btn-django stretch">yolla bakayım bir daha</button>
    </form>

{% endblock %}