{% extends "admin/base_site.html" %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Giriş</a>
        &rsaquo;
        <a href="{% url 'admin:app_list' 'dictionary' %}">Sözlük</a>
        &rsaquo;
        <a href="{% url 'admin:dictionary_topic_changelist' %}">Başlıklar</a>
        {% block crumbs %}
            {% if title %} &rsaquo; {{ title }}{% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block content %}
    <p style="background: #79aec8; padding: 1em; color: #fff; margin: 0;">Şu başlıkları taşımayı seçtiniz:</p>

    <div style="border: 1px solid #79aec8; padding: 1em; border-top: none;">
        {% for source in sources %}
            <p>
                <strong>
                    <a target="_blank" href="{{ source.get_absolute_url }}">{{ source.title }}</a>
                </strong>
                <small>({{ source.entries.count }} entry)</small>
            </p>
        {% endfor %}
    </div>

    <hr style="margin: 1rem 0;">

    <form method="post" onsubmit="document.querySelector('#submit-btn').disabled=true;">
        <div class="form-row field-title">
            <label for="target_topic">Nereye taşınacak?</label>
            <input style="width: 100%;" placeholder="hedef başlığın bire bir ismini girin" type="text"
                   name="target_topic" id="target_topic" required>
        </div>

        <div style="padding: 1rem 0;">
            <p>Entry'ler için tarih aralığı belirt (opsiyonel):</p>
            <div class="form-row field-title">
                <label for="from_date">Şu tarihten: </label>
                <input placeholder="gg.aa.yyyy ss:dd" type="text"
                       name="from_date" id="from_date">
            </div>
            <br>
            <div class="form-row field-title">
                <label for="to_date">Bu tarihe kadar: </label>
                <input placeholder="gg.aa.yyyy ss:dd" type="text"
                       name="to_date" id="to_date">
            </div>
        </div>

        <div class="checkbox-row" style="margin: 1rem 0;">
            <input type="checkbox" name="add_bkz" id="add_bkz" value="yes">
            <label class="vCheckboxLabel" for="add_bkz">taşıdıktan sonra eski başlıklara bkz ver</label>
        </div>


        <div style="float: left;">
            {% csrf_token %}
            <input type="submit" id="submit-btn" value="başlığı taşı" class="default">
        </div>
    </form>

{% endblock %}