{% extends "admin/index.html" %}
{% load i18n static %}
{% block sidebar %}
    {{ block.super }}
    <div class="module">
        <table style="width: 100%">
            <caption>{% trans "Other actions" %}</caption>
            <tbody>
            {% if perms.dictionary.can_activate_user %}
                <tr><th><a href="{% url 'admin:novice_list' %}">{% trans "Novice review list" %}</a></th></tr>
            {% endif %}
            {% if perms.dictionary.can_clear_cache %}
                <tr><th><a href="{% url 'admin:clear-cache' %}">{% trans "Clear cache" %}</a></th></tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <br><br>
    <br>
{% endblock %}