{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
        &rsaquo;
        <a href="{% url 'admin:novice_list' %}">{% trans "Novice review list" %}</a>
        {% block crumbs %}
            {% if title %} &rsaquo; {{ title }}{% endif %}
        {% endblock %}
    </div>
{% endblock %}
{% block content %}
    {% for entry in entries %}
        <h2>
            <span>{{ forloop.counter }}.</span>
            <a target="_blank" href="{{ entry.get_absolute_url }}">{{ entry.topic.title }}(#{{ entry.id }})</a>
        </h2>
        <p>{{ entry.content }} <br> <span style="float:right;">{{ entry.date_created }}</span></p>
        <br>
        <hr>
    {% endfor %}

    <br>
    <form method="POST">
        <label for="operation" style="margin-right: 1em;">{% trans "Operation:" %}</label>
        <select id="operation" name="operation" required>
            <option name="x" selected="selected" value="select">{% trans "Select operation" %}</option>
            <option value="accept">{% trans "Approve authorship" %}</option>
            <option value="decline">{% trans "Reject authorship and purge all entries" %}</option>
        </select>
        <div style="float: right;">
            <button style="background: #417690; padding:10px 15px;border:none;border-radius:4px;color: #fff;cursor: pointer;margin-right: 1em;" type="submit" class="default">{% trans "Apply and go back" %}</button>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}
