{% extends "user/preferences/index.html" %}
{% block title %}şifre değişimi{% endblock %}
{% block bodyattr %}class="default topic-entry-view"{% endblock %}
{% load widget_tweaks %}

{% block content_preferences %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="mb-2"><strong>mevcut e-posta adresiniz: </strong>{{ request.user.email }}</div>

    {% if not user.email_confirmed %}
           <div class="alert alert-info" role="alert">
                 yeni e-posta adresinizi onaylamak için size onaylama bağlantısı içeren bir posta gönderdik. postadaki
           bağlantıya tıklayarak yeni e-postanızı onaylayabilirsiniz. eğer onaylama bağlantısını almadıysanız aşağıdaki
           formu tekrar doldurun.
            </div>
    {% endif %}


    <form method="post">
        <div class="form-group">
            <label for="email_1">{{ form.email1.label }}</label>
            {% render_field form.email1 id="email_1" class="form-control" %}
        </div>

        <div class="form-group">
            <label for="email_2">{{ form.email2.label }}</label>
            {% render_field form.email2 id="email_2" class="form-control" %}
        </div>

        <div class="form-group">
            <label for="password_confirm">{{ form.password_confirm.label }}</label>
            {% render_field form.password_confirm id="password_confirm" class="form-control" %}
        </div>
        {% csrf_token %}

        <small>e-posta değişikliğini onaylamak için yeni adresinize bir onaylama bağlantısı gönderilecek</small>
        <hr>
        <button class="btn btn-django">
            e-posta adresimi değiştir
        </button>
    </form>
{% endblock %}