html {
    font-size: 14px;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    overflow-y: scroll;
}

header.page_header {
    border-top: 4px solid #092e20;
    border-bottom: 1px solid #b0bec5;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
}

.logo {
    display: block;
    width: 120px;
    position: relative;
}

.logo a {
    display: block;
    background: url('../img/django_logo.svg') no-repeat;
    background-size: 120px 40px;
    height: 40px;
}

.top-bar {
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
}


.header-search-form {
    flex: auto;
    max-width: 550px;
    margin: 0 1em;
}

.searchbox, .searchbox .searchbox-text, .searchbox .searchbtn, .searchbox .dropbtn {
    height: 32px;
}


.searchbox > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    -webkit-border-top-right-radius: .25rem;
    -webkit-border-bottom-right-radius: .25rem;
    -moz-border-radius-topright: .25rem;
    -moz-border-radius-bottomright: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.searchbox .searchbtn {
    background: #092e20;
    color: #fff;
    padding: 3px 4px;

}

.searchbox .dropbtn {
    background: #fff;
    color: #092e20;
    padding: 0 10px;
    border-color: #ced4da;
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


.searchbox .searchbtn i {
    font-size: 24px;
}

nav.usermenu ul li {
    display: inline-block;

}

nav.usermenu ul li a {
    color: #333;
    padding: 0 10px;
    font-size: 1rem;
}


nav.sub-nav ul.desktop-only {
    padding: 0;
    margin: 0;
    display: flex;
}

nav.sub-nav ul.mobile-only {
    padding: 0;
    margin: 0;
    display: none;
}


nav.sub-nav ul li {
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    border-bottom: 6px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

nav.sub-nav ul li.active {
    border-color: #092e20;
}


nav.sub-nav ul li:hover a {
    color: #092e20;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;

}

nav.sub-nav ul li:hover {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    border-color: #092e20;
    cursor: pointer;
}

nav.sub-nav ul li a {
    padding-bottom: 5px;
    color: #353535;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    display: block;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.content {
    margin-top: 88px;
    padding-top: 1.5em;
    display: flex;
}

nav.sub-nav ul .more_tags_dropdown a {
    display: block;
    color: #333;
    padding: 5px 30px 5px 30px;
    text-align: center;
    font-size: 14px;
}

nav.sub-nav ul .more_tags_dropdown a.active,
.usermenu-dropdown a.active {
    background: #092e20;
    color: #fff;
}


nav.sub-nav ul .more_tags_dropdown a:focus,
nav.sub-nav ul .more_tags_dropdown a:active,
.usermenu-dropdown a:focus,
.usermenu-dropdown a:active {
    color: #fff;
    background: #092e20;
}

nav.sub-nav ul .more_tags_dropdown,
.usermenu-dropdown {
    top: -3px;
}

.usermenu-dropdown a {
    padding: .7rem 1.4rem;
}


.small-device-alert {
    display: none;
}

.left-frame {
    height: calc(100% - 9rem);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    width: 250px;
    padding: 0 .5em;
    scrollbar-width: thin; /* firefox only */
}


.left-frame::-webkit-scrollbar-button {
    display: none;
    height: 13px;
    border-radius: 0;
    background-color: #b9b9b9;
}

.left-frame::-webkit-scrollbar-button:hover {
    background-color: #AAA;
}

.left-frame::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 2px;
}

.left-frame::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
}

.left-frame::-webkit-scrollbar-track {
    background-color: #efefef;
}

.left-frame::-webkit-scrollbar-track:hover {
    background-color: #CCC;
}

.left-frame::-webkit-scrollbar {
    width: 6px;
}


.left-frame-in {
    height: 100%;
    width: 20%;
}


.right-frame {
    width: 250px;
}


.content-frame {
    width: calc(100% - 500px);
    padding: .5em 1em 0 1em;
    margin-left: 250px;
}

.left-frame h2 {
    font-size: 1.4em;
    color: #888;
    max-width: 240px;
}

.left-frame-in h2 {
    font-size: 1.4em;
    color: #888;
}

ul.topic-list li {
    padding: 0;
    border: none;
    line-height: 20px;
}

ul.topic-list li.active {
    padding: 0 1em;
    background: #092e20;
}

ul.topic-list li.active:hover {
    background: #136345;
}

ul.topic-list li.active a {
    color: #fff;
}


ul.topic-list li:hover {
    background: #f6f7f7;
}

ul.topic-list li a {
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    max-width: calc(100% - 2em);
    word-break: break-word;
}

ul.topic-list li small.total_entries {

    float: right;
    color: #888;
    font-size: 1em;
    position: absolute;
    right: .7em;
    top: 10px;
}

header.entry_header {
    margin-bottom: 8px;
}

header.entry_header h1 {
    font-size: 1.5em;
    font-weight: 700;
}


header.entry_header .lower a:not(.active) {
    color: #333;
}

header.entry_header .pagination a {
    display: block;
    text-decoration: none;
    padding: 1px 8px;
    border: 1px solid #b0bec5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

header.entry_header .pagination a:hover {
    background: #f6f7f7;
}

header.entry_header .pagination select,
.lf_pagination select {
    background: #fff;
    margin-left: 4px;
    min-width: 50px;
    max-width: 65px;
    padding: 2px;
    cursor: pointer;
    border-color: #b0bec5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

header.entry_header .lower {
    display: flex;
    justify-content: space-between;
}

section.user_entries ul,
section.user_entries ul li {
    padding: 0;
    margin: 0;
}

section.user_entries ul li h5 {
    font-size: 1.3em;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

section.user_entries ul li {
    list-style: none;
    height: auto;
}

section.user_entries article.entry {
    padding: .8em 0;
    font-size: 16px;
    text-overflow: ellipsis;
}


section.user_entries article.entry p {
    overflow: hidden;
    line-height: 1.5em;
    max-height: 15em;
    word-wrap: break-word;
}


section.user_entries article.entry.by_novice {
    font-style: italic;
    color: #666;
}


section.user_entries .entry_info {
    display: flex;
    min-height: 32px;
    justify-content: flex-end;
    align-items: center;
}

section.user_entries .entry_info .left {
    margin-right: auto;
    display: inline-flex;
}


section.user_entries .entry_info a {
    color: #888;
    font-size: 12px;
}


section.user_entries .entry_info .rate div {
    display: inline-flex;
}

section.user_entries .entry_info .social {
    min-height: 32px;
    margin-right: 1em;

}

section.user_entries .entry_info .rate {
    margin-right: auto;
}


section.user_entries .entry_info .social a {
    fill: #888;
    text-decoration: none;
}

section.user_entries .entry_info .social a.facebook:hover {
    fill: #3b5998;
}

section.user_entries .entry_info .social a.twitter:hover {
    fill: #38A1F3;
}


section.user_entries .entry_info .social a[target="_blank"]:after {
    font-family: inherit;
    content: ' ';
    margin-left: 0;

}


section.user_entries .entry_info .rate div.favorites a.dropdown-fav-count {
    line-height: 2.2;
    vertical-align: top;


}

section.user_entries .entry_info div.favorites .dropdown-menu {
    min-width: 3rem;
    padding: .3em 1em 0 .4em;
    max-height: 250px;
    overflow-y: auto;
}

section.user_entries .entry_info div.favorites .dropdown-menu a.author-name {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    display: block;
}

section.user_entries .entry_info div.favorites .dropdown-menu a.author-name.novice {
    color: #888;
}

section.user_entries .entry_info .rate div.favorites i {
    line-height: .8;
}

section.user_entries .entry_info .rate div.favorites i::before {
    margin-right: .1em;
    vertical-align: bottom;
    font-size: .7em;
    content: 'favorite';
}

section.user_entries .entry_info .rate div.favorites i:hover::before {
    cursor: pointer;
    content: 'favorite_border';
}

section.user_entries .entry_info .rate div.favorites i.fav-inverted::before {
    content: 'favorite_border';
}

section.user_entries .entry_info .rate div.favorites i.fav-inverted:hover::before {
    content: 'favorite';
}


section.user_entries .entry_info .rate a.upvote,
section.user_entries .entry_info .rate a.downvote {
    vertical-align: middle;
    cursor: pointer;
}


section.user_entries .entry_info .rate a.upvote.active,
section.user_entries .entry_info .rate a.upvote:hover {
    color: #21a878;

}

section.user_entries .entry_info .rate a.downvote.active,
section.user_entries .entry_info .rate a.downvote:hover {
    color: red;
}


section.user_entries .entry_info .info a.nick {
    color: #092e20;
    font-weight: 600;
    margin: 0 4px 0 4px;
}

section.user_entries .entry_info .info .pop-menu i {
    color: #092e20;
    font-size: 18px;
    vertical-align: middle;

}

section.user_entries .entry_info .info .dropdown-menu {
    min-width: 5rem;
}

section.user_entries .entry_info div.info .dropdown-menu a.dropdown-item {
    color: #092e20;
    font-weight: 400;
    font-size: .9rem;
}

section.user_entries .entry_info div.info .dropdown-menu a.dropdown-item:active,
section.user_entries .entry_info div.info .dropdown-menu a.dropdown-item:focus {
    background: #f8f9fa;
}


form.login-form .btn {
    background: #092e20;
    color: #fff;
    font-size: 1em;
    padding: .5em 6em;
}

form.login-form .btn:hover {
    color: #CCC;
}

form.login-form .errors {
    list-style-type: none;
}

form select.datepicker {
    display: inline;
    width: auto;

}

form select.datepicker:nth-child(-n+3) {
    margin-right: .5em;
}

.btn-django {
    padding: .5em 1em;
    background: #092e20;
    color: #fff;
    font-size: 1em;
}

.btn-django.stretch {
    width: 100%;
}

.btn-django:hover, .btn-django-link:hover {
    color: #ccc;
}

ul.user-navigation {
    display: inline-flex;
    align-items: flex-start;
    padding-left: 0;
    line-height: 1.5;
    margin: 0;

}

ul.user-navigation li {
    list-style-type: none;
    display: inline;
    padding: 4px;

}

ul.user-navigation li a.nav-quicklink {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

ul.user-navigation li a.nav-quicklink:hover > span {
    text-decoration: underline;
}


ul.user-navigation li.new {
    background: #092e20;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}


ul.user-navigation li.new a {
    color: #fff;
}


ul.user-navigation li:nth-child(-n+3) {
    margin-right: 1em;
}

ul.user-navigation li a {
    color: #353535;
}

ul.user-navigation li a span {
    margin-left: 4px;
}

ul.user-navigation > li > .user-dropdown a:active {
    background-color: #f8f9fa;
    color: inherit;
}

ul.user-navigation > li > .user-dropdown a.dropdown-item {
    font-size: 13px;
    padding: .3em 1.5em;
}


ul.topics-stdalone {
    padding: 0;
}

ul.topics-stdalone li {
    padding: 0;
}

ul.topics-stdalone li small {
    float: right;
    font-size: 1em;
}


ul.topics-stdalone li:hover {
    background: #efefef;
}

ul.topics-stdalone a {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

a[role=button] {
    cursor: pointer;
}

body a {
    color: #16784f;
}

body a[target="_blank"]:after {
    font-family: 'Material Icons', serif;
    content: 'launch';
    margin-left: 1px;
}

body a:hover {
    color: #0d2f18;
}

section.user-comments {
    background: #ddd;
    padding: 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


section.user-comments .editor-buttons button.add-code {
    background: #fff;
    color: #444;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

section.user-comments .editor-buttons button.add-code:hover {
    background: #f6f7f7;
    color: #111;
}

section.user-comments textarea.entry_editor {
    margin: .5em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: .5em;
    font-size: 1em;
}

section.user-comments button.entry_submit {
    float: right;
}

section.topic-categories-list {
    background: #ddd;
    padding: 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

section.topic-categories-list ul {
    margin: 0;
    padding: 0;
}

section.topic-categories-list ul li {
    list-style-type: none;
    display: inline;
}

section.topic-categories-list h2 {
    font-size: 1.3em;
}

a.more-entries-button {
    display: block;
    width: 100%;
    border: 1px solid #999;
    padding: .25em;
    text-align: center;
    font-size: 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.more-entries-button:hover {
    text-decoration: none;
}


.more-entries-button:hover {
    background: #f6f7f7;
}


.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: .1em;
}

.autocomplete-suggestion {
    padding: .3em 1em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
    text-align: center;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: 400;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

.dj-hidden {
    display: none;
}

section.user-info h4 {
    font-weight: 700;

}


section.user-info ul.user-links, ul.user-stats {
    margin: 0;
    padding: 0;
}

section.user-info ul.user-links, ul.user-stats {
    margin-bottom: 1em;
}

section.user-info ul.user-stats li {
    font-size: .9em;
}

section.user-info ul.user-stats li:after {
    content: " \00b7";
    margin: .3em;
}

section.user-info ul.user-stats li.nobullet:after {
    content: none;
}


section.user-info ul.user-links:last-child {
    margin: 0;
}

section.user-info ul.user-links li, ul.user-stats li {
    list-style-type: none;
    display: inline;

}

section.user-info ul.user-links li {
    margin-right: .8em;
}

section.user-info-detail .detail-nav {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding: .4em 0;

}

section.user-info-detail .detail-nav ul {

    padding: 0;
    margin: 0;
}

section.user-info-detail .detail-nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 1em;
    padding: .4em 0;
    border-bottom: 3px solid transparent;
    font-weight: 600;
}

section.user-info-detail .detail-nav ul li.active {
    border-bottom: 3px solid #16784f;
}


section.user-info-detail .detail-nav ul li a {
    padding: 0 .4em;
}

@keyframes rotate {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning {
    transform: rotate(360deg);
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    vertical-align: bottom;
    margin-left: 3px;
}


ul.threads {
    padding: 0;
}

ul.threads li {
    padding: .3em;
    list-style-type: none;
    border-bottom: 2px solid #dadada;
    margin-bottom: 1em;
}


ul.threads li a {
    color: #212529;
    text-decoration: none;
    display: block;
}

ul.threads li.unread {
    border-left: 3px solid #092e20;;
    padding-left: 1em;

}

ul.threads li:hover {
    background: #dadada;
}

ul.chat {
    padding: 0;
    max-width: 90%;
}


ul.chat li.bubble {
    list-style-type: none;
    border: 1px solid #888;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: .6em;
    position: relative;
    max-width: 60%;
    margin: 1em 0;

}

ul.chat li.bubble:not(:nth-last-child(-n+4)) {
    display: none;
}


ul.chat li.bubble time {
    display: flex;
    align-items: center;

}

ul.chat li.bubble time i {
    font-size: 1em;
    margin: 0 .25em;
}

ul.chat li.bubble.recieved {
    left: 0;
}


ul.chat li.bubble.sent {
    left: 50%;
    background: #F0F0F0;


}

ul.chat li.bubble.sent time {
    justify-content: flex-end;
}


span.chat-quick-links, span.chat-quick-links a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}


section.chat-reply form {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

}

section.chat-reply form textarea {
    width: inherit;
    flex-grow: 1;
    padding: .5em;
}


.notification-bubble {
    cursor: pointer;
    position: fixed;
    right: 0;
    z-index: 9999;
    top: 0;
    margin: 10em 8em;

}

.notification-bubble li {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 1em;
    background: #fff;
    padding: .5em 1em;
    border: 1px solid #272727;
    border-left: 5px solid;
    font-size: 13px;
    width: 160px;
    word-wrap: break-word;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.notification-bubble li.error {
    border-color: #e20000;
}

.people-list {
    padding: 0 1em;
    margin: .5em;
}

.people-list li {
    list-style-type: none;
}


.profile-badges a {
    color: #fff;
    background: #16784f;
    padding: .5em 1em;
    border: 1px solid #092e20;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.profile-badges a:hover {
    color: #fff;
}

.blackquote-container {
    background: #ebebeb;
    padding: 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

blockquote.user-pin .entry-content {
    display: block;
    margin-bottom: 1em;
}

blockquote.user-pin .entry-permalink {
    text-align: right;
}


section.user_entries ul.profile li {
    padding: .6em 0;
}


a.expand::after {
    position: relative;
    top: 1px;
    content: '\25BE';
    color: #888;


}

.topic-dropdown {
    padding: 0;
}


.topic-dropdown a.dropdown-item {
    padding: .2em .7em;
    font-size: 14px;

}

.topic-dropdown a.dropdown-item:focus,
.topic-dropdown a.dropdown-item:active {
    background: #f8f9fa;
    color: inherit;
}

.topic-dropdown a.dropdown-item .input-group input.searchbox-text {
    padding: 0 .3em;
    font-size: 14px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #888;
}


.topic-dropdown a.dropdown-item .input-group input:focus {
    outline: none;

}

.nice-filter a.active {
    color: #16784f;
    font-weight: 700;
}


ul.category-list-all li {
    align-items: center;
    list-style-type: none;
    padding: 1em;
    border-bottom: 1px solid #1ea570;
}

ul.category-list-all li:hover {
    background: #eee;
}

ul.category-list-all li h5 {
    font-weight: 700;
}


.lf_pagination {
    align-items: flex-start;
    margin: 5px auto 0;
}

.lf_pagination.stretch {
    display: flex;
}

.lf_pagination.stretch a.number {
    flex-grow: 1;
    text-align: center;
    display: inline;
    margin: 0 .5em;
}

.lf_pagination.stretch select {
    flex-grow: 1;
    text-align: center;
    display: inline;
    max-width: none;
    margin: 0 .5em;
}

.lf_pagination a {
    display: inline-flex;
    text-decoration: none;
    padding: 1px 8px;
    border: 1px solid #b0bec5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.lf_pagination a:hover {
    background: #f6f7f7;
}


select.mobile-topic-list {
    width: 100%;
    padding: .3em;
    background: #fff;
}


.refresh-button {
    border: 1px solid #ccc;
    padding: .3em;
    text-align: center;
    cursor: pointer;
    margin-bottom: .75em;
}

.refresh-button:hover {
    background: #f2f2f2;
}


form.memento textarea {
    height: auto;
    padding: .2em;
    width: 100%;
}


div.read_more {
    cursor: pointer;
    color: #16784f;
    font-size: 1rem;
    display: inline-block;
}


div.read_more:hover {
    color: inherit;
    text-decoration: underline;
}

.year-select {
    background: #fff;
    width: 100%;
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #16784f;
}


.refresh-button-mobile {
    background: #fff;
    width: 100%;
    border: 1px solid #ccc;
    padding: .25em 0;
    margin-bottom: 1em;
}

a.search-closer {
    text-align: center;
    cursor: pointer;
}

a.search-closer:active {
    background: inherit;
}


.topic-title {
    word-wrap: break-word;
}

.form-group label strong {
    font-weight: 600;
}

.modal-open {
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 0 !important;
}


.dropdown-advanced-search {
    width: calc(100% - 32px);
    min-width: 300px;
}

.btn-django-link {
    background: #0d2f18;
    color: #fff;
}

.btn-django-link.stretch {
    width: 100%;
}

.btn-django-link.faded {
    background: #16784f;
}

li.profile-stat-expand .dropdown-menu .dropdown-item {
    padding: .3em 1em;
    color: #16784f;
}

li.profile-stat-expand .dropdown-menu .dropdown-item:focus {
    background: inherit;
}

footer.body-footer {
    background: #ddd;
    padding: 1em;
    margin-top: 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

footer.body-footer > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
}

.password-help ul {
    list-style-type: decimal;
    margin: 1em;
    padding: 0;
}


/** MEDIA QUERIES **/


/** CONTAINER WIDTHS **/
@media (min-width: 576px) {
    .container {
        max-width: 776px;
    }
}


@media (min-width: 768px) {
    .container {
        max-width: 968px;

    }
}


@media (min-width: 992px) {
    .container {
        max-width: 1192px;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

/** CONTAINER WIDTHS END **/


@media (max-width: 1092px) {
    .content {
        flex-direction: column;
    }

    .content-frame {
        width: calc(100% - 250px);
    }

    .right-frame {
        margin-top: 1em;
        margin-left: calc(250px + 1em);
        width: calc(100% - 250px - 2em);
    }

    footer.body-footer > ul {
        grid-template-columns: repeat(4, 1fr);
    }

}


@media (min-width: 810px) {

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    body.topic-list-view .content-frame {
        width: calc(100% - 250px);
    }

    body.topic-list-view .left-frame-in {
        font-size: 1.2em;
        width: 100%
    }

    body.topic-list-view .right-frame {
        display: none;
    }

}

/** MOBILE VERSION SWITCH **/
@media (max-width: 810px) {
    section.user_entries .entry_info .rate div.favorites i:hover::before {

        content: 'favorite';
    }

    section.user_entries .entry_info .rate div.favorites i.fav-inverted:hover::before {
        content: 'favorite_border';
    }

    body.topic-list-view .left-frame,
    body.topic-list-view .right-frame {
        display: none;
    }

    body.topic-list-view .content-frame {
        margin: 0;
        padding: 0;
        width: 100%;

    }

    body.topic-list-view .left-frame-in {
        width: 100%;
        font-size: 1.2em;
    }

    .content {
        margin-top: 90px;
    }

    nav.sub-nav ul.desktop-only {
        display: none;
    }

    nav.sub-nav ul.mobile-only {
        display: flex;
    }


    ul.user-navigation span {
        display: none;
    }


    nav.sub-nav ul li a {
        padding-bottom: .5em;
    }

    nav.usermenu {
        display: none;
    }

    .top-bar {
        margin-bottom: .25em;
    }

    body.default .content-frame,
    body.topic-entry-view .left-frame {
        display: none;
    }

    body.default .right-frame {
        margin-top: 1em;
        width: 100%;
        margin-left: 0;
    }

    .left-frame {
        position: static;
        width: 100%;
        font-size: 1.2em;
        display: block;
    }

    body.topic-entry-view .content-frame {
        display: block;
        margin-left: 0;
        width: 100%;
        padding: 0;
    }

    body.topic-entry-view .left-frame {
        display: none;
    }

    body.topic-list-view .content {

    }

    nav.sub-nav ul li, nav.sub-nav ul li.active, nav.sub-nav ul li:hover {
        border-bottom: none;
    }

    ul.user-navigation li.desktop-only {
        display: none;
    }

    .stretch-mobile {
        width: 100%;
    }
}

/** MOBILE VERSION SWITCH END **/

@media (max-width: 610px) {
    .logo {
        width: 40px;
    }

    .logo a {
        background: url('../img/django_logo_small.svg') no-repeat;
    }


    header.entry_header .pagination a,
    header.entry_header .pagination select {
        max-height: 26px;
    }
}


@media (max-width: 520px) {
    section.user_entries .entry_info {
        display: block;
    }

    section.user_entries .entry_info .info {
        text-align: right;
    }
}


@media (max-width: 420px) {
    ul.user-navigation li:nth-child(-n+3) {
        margin-right: 0;
    }

    .logo {
        width: 65px;
    }

    .logo a {
        background-size: 40px 40px;
    }

    .topic-search-expander {
        display: block;
    }

}

@media (max-width: 300px) {
    form.header-search-form.logged-in {
        display: none;
    }
}

@media (max-width: 225px) {
    .small-device-alert {
        display: block;
        background: red;
        color: #fff;
    }
}
