{% extends "dictionary/base.html" %}

{% block title %}kullanıcı: {{ profile.username }}{% endblock %}
{% block bodyattr %}class="default topic-entry-view has-entries"{% endblock %}

{% block content %}
    {% load humanize %}
    <section class="user-info">
        <h4><a href="{% url 'topic-search' %}?q={{ profile.username }}">{{ profile.username }}</a></h4>


        {% if request.user.is_authenticated and request.user != profile %}
            {% include "dictionary/includes/send_message_modal.html" %}
            {% include "dictionary/includes/block_user_modal.html" %}

            <ul class="user-links" data-username="{{ profile.username }}">
                <li class="follow-user-trigger"><a role="button" tabindex="0">{% if profile in request.user.following.all %}takip
                    etme{% else %}takip
                    et{% endif %}</a></li>
                <li class="block-user-trigger" data-username="{{ profile.username }}"><a role="button" tabindex="0">engelle</a></li>
                <li class="send-message-trigger" data-recipient="{{ profile.username }}"><a role="button" tabindex="0">mesaj gönder</a>
                </li>
            </ul>
        {% endif %}

        {% if profile.is_suspended and request.user == profile %}
            <div class="alert alert-secondary" role="alert">
                Hesabınız {{ profile.suspended_until }} tarihine kadar askıya alınmıştır. Ayrıntılı bilgi için size
                gönderilen özel mesajı kontrol edin. Eğer bir yanlışlık olduğunu düşünüyorsanız <a
                    href="{% url 'general-report' %}">iletişim formunu</a> kullanarak bizimle iletişime geçin.
            </div>
        {% endif %}

        <ul class="user-stats">
            <li title="toplam entry sayısı">{{ profile.entry_count }}</li>
            <li title="son 1 ayda girdiği entry sayısı">{{ profile.entry_count_month }}</li>
            <li title="son 1 haftada girdiği entry sayısı">{{ profile.entry_count_week }}</li>
            <li title="son 24 saatte girdiği entry sayısı">{{ profile.entry_count_day }}</li>
            {% if profile.last_entry_date %}
                <li class="nobullet" title="son entry girdiği zaman">{{ profile.last_entry_date|naturalday }}</li>
            {% else %}
                <li class="nobullet" title="son entry girdiği zaman">hiç</li>
            {% endif %}
            <li class="profile-badges nobullet ml-2">
                {% if profile.is_novice %}
                    <a href="{% url 'topic-unicode-url' unicode_string="çaylak" %}">çaylak</a>
                {% endif %}
                {% if profile.is_suspended %}
                    <a href="{% url 'topic-unicode-url' unicode_string="lanetli" %}"
                       title="{{ profile.suspended_until|naturaltime }} boyunca">lanetli</a>
                {% endif %}
            </li>
            {% if novice_queue %}
                <span style="float: right">çaylak onay listesinde {{ novice_queue|ordinal }} sıradasınız </span>
            {% endif %}
        </ul>


        {% if profile.pinned_entry %}
            {% with profile.pinned_entry as entry %}
                {% include "dictionary/includes/profile_entry_pinned.html" %}
            {% endwith %}
        {% else %}
            {% if profile.entry_nice %}
                {% with profile.entry_nice as entry %}
                    {% include "dictionary/includes/profile_entry_pinned.html" %}
                {% endwith %}
            {% endif %}
        {% endif %}


    </section>

    <section class="user-info-detail">
        <div class="detail-nav" id="detail_nav">
            <ul>
                <li {% if tab.name == "latest" %}class="active"{% endif %}><a
                        href="{{ profile.get_absolute_url }}">entry'ler</a></li>

                <li {% if tab.name == "favorites" %}class="active"{% endif %}><a href="?t=favorites">favorileri</a></li>

                <li class="profile-stat-expand{% if tab.name != "latest" and tab.name != "favorites" %} active{% endif %}">
                    <a class="expand" role="button" tabindex="0" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        istatistikler
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="?t=popular">en çok favorilenenleri</a>
                        <a class="dropdown-item" href="?t=liked">en beğenilenleri</a>
                        <a class="dropdown-item" href="?t=weeklygoods">bu hafta dikkat çekenleri</a>
                        <a class="dropdown-item" href="?t=beloved">el emeği göz nuru</a>
                        <a class="dropdown-item" href="?t=authors">favori yazarları</a>
                    </div>
                </li>

            </ul>
        </div>
    </section>

    <h5 class="mt-3"><strong><a href="{{ author.get_absolute_url }}">{{ tab.label }}</a></strong></h5>
    {% if object_list.exists %}
        {% if tab.type == "entry" %}
            <section class="user_entries">
                <ul class="profile">
                    {% for entry in object_list %}
                        {% include "dictionary/includes/entry.html" with show_title="yes" %}
                    {% endfor %}
                </ul>
            </section>
        {% endif %}

        {% if tab.type == "author" %}
            <ul class="list-group">
                {% for author in object_list %}

                    <li class="list-group-item" data-username="{{ author.username }}">
                        <a href="{{ author.get_absolute_url }}"><strong>{{ author.username }}</strong></a>
                    </li>

                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <small>yok ki</small>
    {% endif %}

    {% include "dictionary/includes/paginaton.html" with paginator=page_obj hr="yes" %}
    <br>
{% endblock %}


{% block rightframe %}
    {% if request.user.is_authenticated %}

        <label for="memento"><h5><strong>notlar</strong></h5></label>

        <form method="post" class="memento">
            {% load widget_tweaks %}
            {% load filters %}

            {% with profile.username|addstr:" hakkındaki düşünceleriniz" as text_placeholder %}
                {% render_field form.body placeholder=text_placeholder name="memento" class="form-control" rows="10" id="memento" %}
            {% endwith %}

            {% csrf_token %}

            <button class="btn btn-django mt-3 stretch-mobile">kaydet</button>
        </form>
    {% endif %}
{% endblock %}