{% extends "dictionary/base.html" %}

{% block title %}kullanıcı: {{ profile.username }}{% if tab.name != "latest" %} - {{ tab.label }}{% endif %}{% if page_obj.number > 1 %} - sayfa {{ page_obj.number }}{% endif %}{% endblock %}
{% block bodyattr %}class="default topic-entry-view has-entries"{% if user.is_authenticated and user.pinned_entry %} data-pin="{{ user.pinned_entry.pk }}"{% endif %}{% endblock %}

{% load filters %}
{% load functions %}

{% block content %}
    {% load humanize %}
    <section class="user-info">
        <h1 class="h4">
            <a class="profile-username" href="{% url 'topic-search' %}?q={{ profile.username }}">{{ profile.username }}</a>
            {% with gen=profile.generation %}
                {% if gen %}
                    <small class="ml-2" style="font-size: .5em; vertical-align: middle">{{ gen|ordinal }} nesil {{ profile.is_novice|yesno:"çaylak,yazar" }}</small>
                {% endif %}
            {% endwith %}
        </h1>

        {% if user.is_authenticated and user != profile %}
            <ul class="user-links" data-username="{{ profile.username }}">
                {% check_follow_user user profile as is_following %}
                <li class="follow-user-trigger">
                    <a role="button" tabindex="0">{{ is_following|yesno:"takip etme,takip et" }}</a>
                </li>

                <li class="block-user">
                    <a role="button" tabindex="0">engelle</a>
                </li>

                <li class="send-message">
                    <a role="button" tabindex="0">mesaj gönder</a>
                </li>
            </ul>
        {% endif %}

        {% if profile.is_suspended and user == profile %}
            <div class="alert alert-secondary" role="alert">
                Hesabınız {{ profile.suspended_until }} tarihine kadar askıya alınmıştır. Ayrıntılı bilgi için size
                gönderilen özel mesajı kontrol edin. Eğer bir yanlışlık olduğunu düşünüyorsanız
                <a href="{% url 'general-report' %}">iletişim formunu</a> kullanarak bizimle iletişime geçin.
            </div>
        {% endif %}

        <ul class="user-stats mb-2">
            <li title="toplam entry sayısı">{{ profile.entry_count }}</li>
            <li title="son 1 ayda girdiği entry sayısı">{{ profile.entry_count_month }}</li>
            <li title="son 1 haftada girdiği entry sayısı">{{ profile.entry_count_week }}</li>
            <li title="son 24 saatte girdiği entry sayısı">{{ profile.entry_count_day }}</li>
            <li class="nobullet" title="son entry girdiği zaman">{{ profile.last_entry_date|naturaltime|default:"hiç" }}</li>

            {% if novice_queue %}
                <li class="float-right nobullet">çaylak onay listesinde {{ novice_queue|ordinal }} sıradasınız</li>
            {% endif %}

            <li class="profile-badges nobullet d-block mt-2">
                {% if profile.is_novice %}
                    <a class="badge-item" href="{% url 'topic-unicode-url' unicode_string="çaylak" %}">çaylak</a>
                {% endif %}

                {% if profile.is_suspended %}
                    <a class="badge-item" href="{% url 'topic-unicode-url' unicode_string="lanetli" %}" title="{{ profile.suspended_until|naturaltime }} boyunca">lanetli</a>
                {% endif %}

                {% for badge in profile.badges.all %}
                    <a title="{{ badge.description }}" class="badge-item" {% if badge.url %} href="{{ badge.url }}" target="_blank" {% else %}href="{% url 'topic-unicode-url' unicode_string=badge.name %}"{% endif %}>{{ badge.name }}</a>
                {% endfor %}

                {% if profile.karma_flair %}
                    <span>{{ profile.karma_flair }}</span>
                {% endif %}
            </li>
        </ul>


        {% if profile.pinned_entry %}
            {% with profile.pinned_entry as entry %}
                {% include "dictionary/includes/profile_entry_pinned.html" %}
            {% endwith %}
        {% else %}
            {% if profile.entry_nice %}
                {% with profile.entry_nice as entry %}
                    {% include "dictionary/includes/profile_entry_pinned.html" %}
                {% endwith %}
            {% endif %}
        {% endif %}

    </section>

    {% with object_count=page_obj.paginator.count %}

        <nav class="user-stats-nav" aria-label="Profil gezinme menüsü">
            <ul class="m-0 p-0">
                <li {% if tab.name == "latest" %}class="active"{% endif %}><a href="{{ profile.get_absolute_url }}">entry'ler</a></li>
                <li {% if tab.name == "favorites" %}class="active"{% endif %}><a href="{% url 'user-profile-stats' profile.slug "favorites" %}">favorileri</a></li>

                <li class="profile-stat-expand{% if tab.name != "latest" and tab.name != "favorites" %} active{% endif %}">
                    <a class="expand" role="button" tabindex="0" id="more-tabs-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">istatistikler</a>
                    <div class="dropdown-menu" aria-labelledby="more-tabs-dropdown">
                        <a class="dropdown-item" href="{% url 'user-profile-stats' profile.slug "popular" %}">en çok favorilenenleri</a>
                        <a class="dropdown-item" href="{% url 'user-profile-stats' profile.slug "recentlyvoted" %}">son oylananları</a>
                        <a class="dropdown-item" href="{% url 'user-profile-stats' profile.slug "liked" %}">en beğenilenleri</a>
                        <a class="dropdown-item" href="{% url 'user-profile-stats' profile.slug "weeklygoods" %}">bu hafta dikkat çekenleri</a>
                        <a class="dropdown-item" href="{% url 'user-profile-stats' profile.slug "beloved" %}">el emeği göz nuru</a>
                        <a class="dropdown-item" href="{% url 'user-profile-stats' profile.slug "authors" %}">favori yazarları</a>
                        <a class="dropdown-item" href="{% url 'user-profile-stats' profile.slug "wishes" %}">ukteleri</a>
                        <a class="dropdown-item" href="{% url 'user-profile-stats' profile.slug "channels" %}">katkıda bulunduğu kanallar</a>
                    </div>
                </li>
            </ul>
        </nav>

        <header class="d-flex justify-content-between align-items-center mt-3">
            <h2 class="h5 font-weight-bold">
                <a href="{% url 'user-profile-stats' profile.slug tab.name %}">{{ tab.label }}{% if object_count %} ({{ object_count }}){% endif %}</a>
                {% if page_obj.number > 1 %}
                    <span class="ml-2">- sayfa {{ page_obj.number }}</span>
                {% endif %}
            </h2>

            {% if tab.type == "entry" %}
                <a href="{% url 'topic_list' slug='userstats' %}?user={{ profile.slug }}&tab={{ tab.name }}" data-lf-slug="userstats" data-tab="{{ tab.name }}" data-lf-extra='{"user":"{{ profile.slug }}"}'>
                    <svg fill="currentColor" viewBox="0 0 16 16" width="24" height="24">
                        <use href="#lshift"></use>
                        <title>başlık listesine taşı</title>
                    </svg>
                </a>
            {% endif %}
        </header>

        {% if object_count > 0 %}

            {% if tab.type == "entry" %}
                <section class="user_entries">
                    <ul class="profile">
                        {% for entry in object_list %}
                            {% include "dictionary/includes/entry.html" with show_title="yes" %}
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            {% if tab.type == "author" %}
                <ul class="list-group list-group-flush">
                    {% for author in object_list %}
                        {% check_follow_user user author as is_following_stat %}
                        <li class="list-group-item d-flex justify-content-between border-0" data-username="{{ author.username }}">
                            <a href="{{ author.get_absolute_url }}">{{ author.username }}</a>
                            <span class="follow-user-trigger"><a role="button" tabindex="0">{{ is_following_stat|yesno:"takip etme, takip et" }}</a></span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if tab.type == "topic" %}
                <ul class="list-group list-group-flush">
                    {% for topic in object_list %}
                        <li class="list-group-item d-flex justify-content-between border-0">
                            <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if tab.type == "category" %}
                <ul class="list-group list-group-flush">
                    {% for category in object_list %}
                        <li class="list-group-item d-flex justify-content-between border-0">
                            <a href="{% url 'topic_list' slug='userstats' %}?user={{ profile.slug }}&tab=channels&channel={{ category.slug }}" data-lf-slug="userstats" data-tab="channels" data-lf-extra='{"user": "{{ profile.slug }}", "channel": "{{ category.slug }}"}' title="{{ category.description }}">#{{ category.name }}</a>
                            <span>{{ category.count }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        {% else %}
            <small>yok ki</small>
        {% endif %}

    {% endwith %}

    <div class="my-4">
        {% include "dictionary/includes/paginaton.html" with paginator=page_obj stretch="yes" index="yes" %}
    </div>
    {% if user.is_authenticated %}
        {% include "dictionary/includes/send_message_modal.html" %}
        {% include "dictionary/includes/block_user_modal.html" %}
    {% endif %}
{% endblock %}


{% block rightframe %}
    {% if user.is_authenticated %}

        <label for="memento"><h2 class="h5"><strong>notlar</strong></h2></label>

        <form method="post" class="memento">
            {% load widget_tweaks %}

            {% with profile.username|addstr:" hakkındaki düşünceleriniz" as text_placeholder %}
                {% render_field form.body placeholder=text_placeholder name="memento" class="form-control" rows="10" id="memento" %}
            {% endwith %}

            {% csrf_token %}

            <button class="btn btn-django mt-3 stretch-mobile">kaydet</button>
        </form>
    {% endif %}
{% endblock %}