{% extends "dictionary/base.html" %}
{% load i18n %}
{% block title %}{% trans "settings" context "titleblock" %}{% endblock %}
{% block content %}
    <h1 class="h4 mb-3"><strong>{% trans "settings" context "titleblock" %}</strong></h1>

    {% url 'user_preferences' as preferences %}
    {% url 'user_preferences_password' as password %}
    {% url 'user_preferences_email' as email %}
    {% url 'user_preferences_terminate' as terminate %}
    {% url 'user_preferences_backup' as backup %}

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link {% if request.path == preferences %}active{% endif %}" href="{{ preferences }}">{% trans "preferences" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == password %}active{% endif %}" href="{{ password }}">{% trans "password" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == email %}active{% endif %}" href="{{ email }}">{% trans "e-mail" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == terminate %}active{% endif %}" href="{{ terminate }}">{% trans "account deletion" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == backup %}active{% endif %}" href="{{ backup }}">{% trans "backup" %}</a>
        </li>
    </ul>

    {% block content_preferences %}
    {% endblock %}
{% endblock %}