{% extends "dictionary/base.html" %}

{% load functions %}
{% load filters %}

{% block title %}{% print_topic_title %}{% endblock %}

{# Remove has-entries for permalinks to show full content right away #}
{% block bodyattr %}class="default topic-entry-view {% if not entry_permalink %}has-entries{% endif %}"{% if user.is_authenticated and user.pinned_entry %} data-pin="{{ user.pinned_entry.pk }}"{% endif %}{% endblock %}
{% block content %}

    {% with valid=topic.valid populated=topic.has_entries banned=topic.is_banned %}
    <section class="user_entries" data-topic="{{ topic.title }}">
            {% if topic.exists %}
                <header class="entry_header">
                <h1 class="topic-title">
                    <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>

                    {% if mode == "search" %}<small>[arama terimi: <strong>{{ request.GET.keywords.strip }}</strong>]</small>{% endif %}
                    {% if mode == "links" %}<small><strong>[linkler]</strong></small>{% endif %}
                    {% if mode == "history" %}<small><strong>[tarihte bugün: </strong>{{ request.GET.year.strip }}]</small>{% endif %}
                    {% if mode == "novices" %}<small><strong>[çaylaklar]</strong></small>{% endif %}
                    {% if mode == "following" %}<small><strong>[olan biten]</strong></small>{% endif %}
                    {% if mode == "recent" %}<small><strong>[son]</strong></small>{% endif %}
                    {% if mode == "acquaintances" %}<small><strong>[takip ettiklerim]</strong></small>{% endif %}

                    {% if topic.is_pinned %}
                        <svg class="float-right" fill="currentColor" width="16" height="25" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <use href="#pin"></use>
                            <title>Bu başlık sabitlenmiş.</title>
                        </svg>
                    {% endif %}
                </h1>

            {% with mirrors=topic.mirrors.all %}
                {% if mirrors %}
                    <div class="mirror-list">
                     <span>aynı isimdeki diğer başlıklar:</span>
                        <ul>
                            {% for mirror in mirrors %}
                               <li><a href="{{ mirror.get_absolute_url }}">{{ mirror.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

                {% if populated %}
                    <div class="lower">
                    <div class="title_sub">
                    <span class="mr-3 nice-filter">şükela:&nbsp;&nbsp;<a title="tüm zamanların en çok beğenilenleri" href="{{ topic.get_absolute_url }}{% if mode != "nice" %}?a=nice{% endif %}" {% if mode == "nice" %}class="active" {% endif %}>tümü</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a title="bugün en çok beğenilenler" href="{{ topic.get_absolute_url }}{% if mode != "nicetoday" %}?a=nicetoday{% endif %}" {% if mode == "nicetoday" %}class="active" {% endif %}>bugün</a>
                    </span>

                        <a data-toggle="dropdown" class="expand mr-2 topic-search-expander" role="button" tabindex="0">başlıkta ara</a>

                        <div class="dropdown-menu topic-dropdown">
                            <a class="dropdown-item" href="{{ topic.get_absolute_url }}?a=today">bugün</a>
                            <a class="dropdown-item" href="{{ topic.get_absolute_url }}?a=links">linkler</a>

                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{{ topic.get_absolute_url }}?a=search&keywords=@{{ user.username }}">benimkiler</a>
                                <a class="dropdown-item" href="{{ topic.get_absolute_url }}?a=acquaintances">takip ettiklerim</a>
                            {% endif %}

                            <a class="dropdown-item pb-2">
                                <form method="GET" action="{{ topic.get_absolute_url }}">
                                    <div class="input-group input-group-sm">
                                        <input type="hidden" name="a" value="search">
                                        <input name="keywords" class="searchbox-text form-control" type="text" placeholder="kelime ya da @yazar" aria-label="kelime ya da @yazar" required>
                                        <div class="input-group-append">
                                            <input class="btn btn-django-link" type="submit" value="ara">
                                        </div>
                                    </div>
                                </form>
                            </a>

                        </div>
                        {% if user.is_authenticated %}
                            {% check_follow_status user topic as status %}
                            <a role="button" tabindex="0" class="follow-topic-trigger" data-topic-id="{{ topic.id }}">{% if status %}takip etme{% else %}takip et{% endif %}</a>
                        {% endif %}
                    </div>
                    {% include "dictionary/includes/paginaton.html" with paginator=page_obj classlist="pagination" %}
                </div>
                {% endif %}

                {% if topic.media and page_obj.number == 1 %}{{ topic.media|mediastamp:mode }}{% endif %}

                </header>

                {% if populated %}

                    {# previous entries button #}
                    {% if previous_entries_count > 0 %}
                        <a title="tümünü göster" href="{% if entry_permalink %}{{ topic.get_absolute_url }}{% endif %}?page={{ previous_entries_page }}" class="more-entries-button mt-2">{{ previous_entries_count }} entry daha</a>
                    {% endif %}
                    {# end of previous entries button #}

                    {# list of entries #}
                    <ul class="topic-view-entries">
                        {% if entry_permalink %}
                            {% for entry in entries %}
                                {% include "dictionary/includes/entry.html" with permalink="yes" %}
                            {% endfor %}
                        {% else %}
                            {% if page_obj.paginator.count %}
                                {% for entry in entries %}
                                    {% include "dictionary/includes/entry.html" %}
                                {% endfor %}

                            {% else %}
                                {# topic has entries but parameters returned no corresponding entries #}
                                <p class="mt-2">
                                    {% if mode == "novices" %}
                                        <span>bu başlığa bugün pek çaylak entry'si girilmemiş.</span>
                                    {% elif mode == "regular" %}
                                        <span>bu başlıkta hiç <u>yazar</u> entry'si yok.</span>
                                    {% else %}
                                        <span>başlıkta aradığınız kritere uygun entry bulunamadı.</span>
                                    {% endif %}
                                </p>

                                {% if all_entries_count %}
                                    <a title="tümünü göster" href="{{ topic.get_absolute_url }}" class="more-entries-button">tümünü göster ({{ all_entries_count }} entry)</a>
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    </ul>
                    {# end of list of entries #}

                    {# subsequent entries button #}
                    {% if subsequent_entries_count > 0 %}
                        <a title="tümünü göster" href="{% if entry_permalink %}{{ topic.get_absolute_url }}{% endif %}?page={{ subsequent_entries_page }}" class="more-entries-button">{{ subsequent_entries_count }} entry daha</a>
                    {% endif %}
                    {# end of subsequent entries button #}


                {% else %}
                    {# Topic does exist but has no entries #}
                    <p>
                        <span>böyle bir şey yok.</span>
                        {% render_topic_suggestions topic.title %}
                    </p>

                    {% if not banned %}
                        {% include "dictionary/includes/forms/wish.html" %}
                    {% endif %}
                {% endif %}

            {% else %}
                {# Topic does not exist #}
                <header class="entry_header">
                    <h1 class="topic-title"><a href="{% url 'topic-search' %}?q={{ topic.title }}">{{ topic.title }}</a></h1>
                </header>

                <p>
                    <span>böyle bir şey yok.</span>
                    {% render_topic_suggestions topic.title %}
                </p>

                {% if not valid %}
                    <p>lanet olsun böyle başlığa zaten</p>
                {% else %}
                    {% include "dictionary/includes/forms/wish.html" %}
                {% endif %}

            {% endif %}

    </section>

    {# add entry form & user related modal import #}
    {% if user.is_authenticated %}

        {% include "dictionary/includes/send_message_modal.html" %}
        {% include "dictionary/includes/block_user_modal.html" %}
        {% if not banned and valid %}
            <hr>

            {% if drafts.exists %}
                <div class="border rounded-sm p-3 bg-light mb-3">
                    <div class="d-flex" role="alert">
                        <svg class="mr-2" width="21" height="21" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <use href="#saved"></use>
                        </svg>
                        <span><strong>{{ topic.title }}</strong> başlığına ait <a data-lf-slug="drafts" href="{% url "topic_list" slug="drafts" %}">kenar</a>da duran entry'leriniz var:</span>
                    </div>

                    <ul class="list-unstyled mt-2 mb-0">
                        {% for draft in drafts %}
                            <li><a href="{% url "entry_update" pk=draft.pk %}">#{{ draft.pk }} ({{ draft.content|truncatechars:80 }}) ({{ draft.date_created|entrydate:draft.date_edited }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <section class="user-comments">
                <div class="editor-buttons">
                    <button title="bakınız.." id="insert_bkz" class="add-code">(bkz: hede)</button>
                    <button title="başlık, entry, yazara link" id="insert_hede" class="add-code">hede</button>
                    <button title="ironik bakınız" id="insert_swh" class="add-code">&#8727;</button>
                    <button title="sürprizbozan diye de bilinir" id="insert_spoiler" class="add-code">- spoiler -</button>
                    <button title="dış dünyaya link" id="insert_link" class="add-code">http://</button>
                </div>
                {% load widget_tweaks %}

                <form method="post">
                    {% csrf_token %}

                    {% with topic.title|addstr:" başlığı hakkında bilgi verin.." as text_placeholder %}
                        {% render_field form.content placeholder=text_placeholder id="user_content_edit" class="entry_editor form-control" rows="5" spellcheck="true" aria-label="Entry yazı alanı" %}
                    {% endwith %}

                    <div class="row entry-editor-footer">
                        <div class="col-6">
                            {% if not user.is_suspended %}
                                <div class="custom-control custom-checkbox">
                                    {% render_field form.is_draft class="custom-control-input" id="is_draft" %}
                                    <label title="bu entry'i halka açık olarak yayınlamadan tut" class="custom-control-label" for="is_draft">kenarda dursun şimdilik</label>
                                </div>
                            {% else %}
                                <p class="text-danger">entry'niz kenara atılacak.</p>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-django entry_submit">yolla</button>
                        </div>
                    </div>
                </form>


            </section>
        {% endif %}
    {% endif %}
    {# end of add entry form & user related modal import #}

    {% endwith %}
    <br>
{% endblock %}


{% block rightframe %}
    {% with categories=topic.category.all %}
        {% if categories %}
            <section class="topic-categories-list">
                <h2>başlığın kanalları</h2>
                <ul>

                    {% for category in categories %}
                        <li>
                            <a data-lf-slug="{{ category.slug }}" title="{{ category.description }}" href="{{ category.get_absolute_url }}">#{{ category }}</a>
                        </li>
                    {% endfor %}

                </ul>
            </section>
        {% endif %}
    {% endwith %}
{% endblock %}