{% extends "dictionary/base.html" %}
{% block title %}{{ safename }}{% endblock %}
{% block bodyattr %}class="topic-list-view"{% endblock %}
{% block content %}
    <div class="left-frame-in">
        <h2>
            {% if request.GET.ordering and slug == "hayvan-ara" %}
                <a class="expand" type="button" data-toggle="collapse"
                   data-target="#search_form_extended_mobile"
                   aria-expanded="false">
                    {{ safename }}
                </a>
            {% else %}
                {{ safename }}
            {% endif %}
        </h2>

        {% if tabs %}
            <ul class="nav nav-tabs nav-fill">
            {% for name, safename in tabs.available.items %}
                <li class="nav-item">
                    <a class="nav-link{% if name == tabs.current %} active{% endif %}" href="?tab={{ name }}">{{ safename }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if slug == "bugun" %}
            {% if refresh_count %}
                <form method="post">
                    {% csrf_token %}
                    <button class="refresh-button-mobile">yenile ({{ refresh_count }})</button>
                </form>
            {% endif %}
        {% endif %}

        {% if slug == "tarihte-bugun" %}
            <select class="mobile-topic-list form-control" id="mobile_year_changer" aria-label="Yıl seçici">
                {% for y in year_range %}
                    <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            <hr>
        {% endif %}


        {% if slug == "hayvan-ara" %}
            {# render search form, if request.GET.ordering has value, it means there is a search #}

            <hr>
            <form method="get" action="{% url 'topic_list' slug='hayvan-ara' %}"
                  class="search_mobile{% if request.GET.ordering %} collapse{% endif %}"
                  id="search_form_extended_mobile">
                {% include "dictionary/includes/forms/extended_search.html" with source="mobile" %}
                <button type="submit" class="btn btn-django stretch">çok güzel ara</button>
            </form>
        {% endif %}


        <ul id="topic-list-standalone" class="list-group topic-list">
            {% if page.object_list %}
                {% for topic in page.object_list %}
                    <li class="list-group-item">
                        <a href="{{ slug_identifier }}{{ topic.slug }}/{{ parameters }}">{{ topic.title }}<small
                                class="total_entries">{{ topic.count }}</small></a>
                    </li>
                {% endfor %}
            {% else %}
                <small>yok ki</small>
            {% endif %}
        </ul>

        {% if page.has_other_pages %}
            {% include "dictionary/includes/paginaton.html" with stretch="yes" hr="yes" paginator=page %}
        {% endif %}
        <br>
    </div>

{% endblock %}