{% extends "dictionary/base.html" %}
{% block title %}{{ safename }}{% endblock %}
{% block bodyattr %}class="topic-list-view"{% endblock %}
{% block content %}

    <div class="left-frame-in">
        <div>
            <h1>
                {% if request.GET.ordering and slug == "hayvan-ara" %}
                    <a class="expand" type="button" data-toggle="collapse" data-target="#search_form_extended_mobile" aria-expanded="false">
                        {{ safename }}
                    </a>
                {% else %}
                    {{ safename }}
                {% endif %}

            {% if slug == "gundem" %}
                <span role="button" title="gündem filtresi" style="display: inline-block; vertical-align: baseline;" class="exclusion-button">
                    <svg tabindex="0" width="12" height="12" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <use href="#cog"></use>
                    </svg>
               </span>
            {% endif %}
            </h1>
        </div>

        {% if tabs %}
            <ul class="nav nav-tabs nav-fill">
            {% for name, safename in tabs.available.items %}
                <li class="nav-item">
                    <a class="nav-link{% if name == tabs.current %} active{% endif %}" href="?tab={{ name }}">{{ safename }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if slug == "bugun" %}
            {% if refresh_count %}
                <form method="post">
                    {% csrf_token %}
                    <button class="refresh-button-mobile">yenile ({{ refresh_count }})</button>
                </form>
            {% endif %}
        {% endif %}

        {% if slug == "gundem" %}
            <div class="exclusion-settings {% if not exclusions.active %}dj-hidden{% endif %}" id="exclusion-settings-mobile">
                <small>gündeminizi kişiselleştirin:</small>
                <ul class="exlusion-choices">
                    {% for category in exclusions.available %}
                        <li><a role="button" tabindex="0" {% if category.slug in exclusions.active %}class="active"{% endif %} data-slug="{{ category.slug }}">#{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if slug == "tarihte-bugun" %}
            <select class="mobile-topic-list form-control" id="mobile_year_changer" aria-label="Yıl seçici">
                {% for y in year_range %}
                    <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            <hr>
        {% endif %}


        {% if slug == "hayvan-ara" %}
            {# render search form, if request.GET.ordering has value, it means there is a search #}

            <hr>
            <form method="get" action="{% url 'topic_list' slug='hayvan-ara' %}"
                  class="search_mobile{% if request.GET.ordering %} collapse{% endif %}"
                  id="search_form_extended_mobile">
                {% include "dictionary/includes/forms/extended_search.html" with source="mobile" %}
                <button type="submit" class="btn btn-django stretch">çok güzel ara</button>
            </form>
        {% endif %}


        <ul id="topic-list-standalone" class="list-group topic-list">
            {% if page.object_list %}
                {% for topic in page.object_list %}
                    <li class="list-group-item">
                        <a href="{{ slug_identifier }}{{ topic.slug }}/{{ parameters }}">{{ topic.title }}<small class="total_entries">{% if topic.count %}{{ topic.count }}{% endif %}</small></a>
                    </li>
                {% endfor %}
            {% else %}
                <small>yok ki</small>
            {% endif %}
        </ul>

        {% if page.has_other_pages %}
            {% include "dictionary/includes/paginaton.html" with stretch="yes" hr="yes" paginator=page %}
        {% endif %}
        <br>
    </div>

{% endblock %}