{% extends "dictionary/base.html" %}
{% load i18n %}
{% block title %}{% trans "what was my password" context "titleblock" %}{% endblock %}
{% block content %}
    <h1 class="h4 mb-3"><strong>{% trans "what was my password" context "titleblock" %}</strong></h1>
    {% url 'login' as login_url %}
    <div class="bg-light rounded mb-3 p-3" role="alert">{% blocktrans %}your password has been changed, use it wisely now. you might want to <a href="{{ login_url }}">log in</a> now.{% endblocktrans %}</div>

    <small class="fs-90">
    {% blocktrans trimmed %}
        notice: this page was made to inform those who want to reset their password. <strong>if you are not
        trying to reset your password</strong> and somehow found yourself here, you don't need to worry.
    {% endblocktrans %}
    </small>
{% endblock %}
