{% extends "dictionary/base.html" %}
{% block title %}parola neydi{% endblock %}
{% block content %}
    <h1 class="h4 mb-3"><strong>parola neydi</strong></h1>
    <div class="alert alert-secondary" role="alert">
        girdiğiniz e-posta adresine parolanızın sıfırlanması için bir şeyler gönderdik. en kısa sürede gelir.
        eğer bir şey ulaşmadıysa doğru e-posta adresi girdiğinizden emin olun. spam klasörüne de bir bakın orda
        olabilir.
    </div>
    <small class="fs-90">not: bu sayfayı parolasını sıfırlamaya çalışan arkadaşlar için bilgilendirme amacıyla yaptık.<strong>eğer parolanızı
    sıfırlamaya çalışmıyorsanız</strong> ve kendinizi bir şekilde bu sayfada bulduysanız endişelenmenize gerek yok.</small>
{% endblock %}


