{% extends "dictionary/base.html" %}
{% load i18n %}

{% block title %}{% trans "what was my password" context "titleblock" %}{% endblock %}
{% block content %}
    <h1 class="h4 mb-3"><strong>{% trans "what was my password" context "titleblock" %}</strong></h1>
    <div class="bg-light p-3 mb-3 rounded" role="alert">
        {% blocktrans trimmed %}
            we sent something that may help you reset your password to the e-mail you entered. it should arrive shortly.
            if you don't receive anything, make sure that you entered your e-mail correctly. maybe check your spam
            folder, it might be there also.
        {% endblocktrans %}
    </div>

    <small class="fs-90">
        {% blocktrans trimmed %}
            notice: this page was made to inform those who want to reset their password. <strong>if you are not
            trying to reset your password</strong> and somehow found yourself here, you don't need to worry.
        {% endblocktrans %}
    </small>
{% endblock %}