<h4>sayın {{ user.username }}</h4>
<p>parolanızı unuttuğunuz için bizden parola sıfırlama bağlantısını talep ettiniz. işte o bağlantı: </p>
<a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">parolamı sıfırla</a>
<p>eğer bağlantı gözükmüyor ise şunu kopyalayıp adres satırına yapıştır: </p>
<p>{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
<p>eğer parola yenileme talebinde bulunmadıysanız bu e-postayı hiç kafanıza takmanıza gerek yok. </p>
<p>iyi günler dileriz.</p>