{% extends "dictionary/base.html" %}
{% load widget_tweaks %}
{% block title %}parola neydi{% endblock %}
{% block content %}
    <h4 class="mb-3"><strong>parola neydi</strong></h4>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <div class="alert alert-secondary" role="alert">
                e-posta adresini verirsen parolanı sıfırlamana yardımcı olacak bir şeyler gönderebiliriz.
            </div>

            {% if form.errors %}
                <p class="text-danger">{{ form.email.errors.0 }}</p>
            {% endif %}

            <label for="resetEmail">{{ form.email.label }}</label>
            {% render_field form.email type="email" id="resetEmail" class="form-control" %}
        </div>

        <hr>
        <button type="submit" class="btn btn-django stretch">yap bi güzellik</button>
    </form>
{% endblock %}

